# 데이터 타입 
값(데이터)의 종류를 분류한 것 

## 데이터 타입 종류
* 숫자형 
    - 정수형(int, integer)
    - 실수형(float)
* 논리형 (bool, boolean) 
    - 참 / 거짓
* 문자열 (str, string) 
    - 글자
* NONE (리터럴값) 
    - 없다(NULL)

In [2]:
#정수형 대입
age = 30
tall = 173.5

In [4]:
#데이터 타입 확인
type(age)

float

In [5]:
type(tall)

float

In [6]:
#연산자 
1 + 10
10 - age # 변수를 사용해서 연산 가능

-20

In [7]:
10*20

200

In [8]:
#제곱
10 ** 2

100

In [9]:
#나누기
10 / 4

2.5

In [11]:
#나누기 
10 / 3

3.3333333333333335

In [12]:
# 몫 연산자
10 // 3

3

In [13]:
# 나머지 연산자 (모듈러스 연산자) 
# 배수일 경우 많이 사용, n으로 나눠서 나머지가 없으면 n의 배수
10 % 3

1

In [14]:
#논리형 (bool) 관련 연산자 
b1 = True
b2 = False 
print(b1)
print(b2)

True
False

In [15]:
# 다른 타입의 값을 논리형으로 변환 bool(값) 
# False : 숫자 - 0, 문자열 - "" (빈문자열은 0글자로 값이 없음) , NONE 
# True : 숫자 - 0을 제외한 숫자, 문자열 - 1글자 이상

In [16]:
bool(10)

True

In [17]:
bool(0)

False

In [18]:
bool(-10)

True

In [19]:
bool("")

False

In [20]:
bool("test")

True

In [21]:
bool("a")

True

In [22]:
bool(" ") #공백도 글자다.

True

In [25]:
bool(None)

False

In [26]:
bool("None")

True

In [27]:
# int(값)  : 실수값이나 논리값을 정수로 변환 
int(3.5)

3

In [30]:
int(True)

1

In [31]:
int(False)

0

In [33]:
#비교 연산자 --> 결과가 논리형으로 나온다 
3 >= 5

False

In [34]:
5 != 5

False

In [39]:
# 직접 리터럴 값을 비교할 때는 잘 안쓰고 변수의 값과 숫자를 비교할 때 많이 쓴다 
num = int(input("입력 : "))

입력 : 5

In [38]:
num < 5

True

In [40]:
num == 5

True

In [41]:
num > 5

False

In [42]:
num < 10

True

In [43]:
# 비교 연산자 문자 비교도 가능하다. 
# 사전식 배열, 뒤에 나오는 글자가 더 큰 개념 
# 파이썬 기준으로 유니코드로 표현. (다국어일 경우 아스키코드 지원이 안됨.)
"a" > "b"

False

In [47]:
"abc" > "abk"

False

In [49]:
# 논리 연산자 : 피연산자 / 결과가 논리형 
True & True

True

In [51]:
True & False

False

In [54]:
False & False

False

In [55]:
True | True

True

In [56]:
True | False

True

In [57]:
False | False

False

In [64]:
(3 > 2) & (5 < 3) # 두 조건을 만족하니? , 연산자 우선 순위 때문에 괄호로 묶는다.

False

In [65]:
(3 > 2) or (5 < 3) # 둘 중 하나만 맞아도 가능

True

In [63]:
(3 > 2) | (5 < 3) # 열고 닫는거 편하게 하려면 블록으로 묶어서 열면 자동으로 닫힘

True

In [66]:
#xor ^ 둘이 엇갈리면 T , 같으면 F 
True ^ False

True

In [67]:
True ^ True

False

In [68]:
True xor False

SyntaxError: invalid syntax (<ipython-input-68-ac24d1f80630>, line 1)

In [69]:
# not 은 피연산자가 1개 이다. 
not True

False

In [70]:
not False

True

In [71]:
num == 0

False

In [72]:
not (num == 0) # 결과 값을 역으로 바꿔줄때 
# not을 사용하는 경우는 어떨때?

True

In [73]:
num != 0

True

In [74]:
#삼항 연산자(조건연산자)
num = 10 
num < 0 #음수냐? 양수냐?

False

In [78]:
#value1 if 조건식 else value2
# 조건식이 T 이면 v1 를 F 이면 v2 
# 조건(num<0)이 T이면 "음수" , F 이면 "양수"를 반환 
"음수" if num < 0 else "양수"

'양수'

###   None 
- 값 없음.
- 다른 언어에서는 주로 null로 사용

In [94]:
# 변수는 필요하지만 아직 값이 결정되지 않을때, 계산해서 가져온 값이든 
name = None # 이름이 없다.
print(name)
bool(name) # 값이 없으니 false
type(name)

None

NoneType

In [88]:
name = "홍길동" # 이름 재 할당
print(name)
bool(name)

홍길동

True

In [90]:
name if bool(name) else "이름없음" # 이름이 있으면 반환, 없으면 '이름없음'

'홍길동'

In [93]:
name = "" # false #값으로 보면 빈 문자열이기 때문에 string 형태가 된다. 
bool(name)
type(name)

str

# 문자열 (string)

In [95]:
name = "홍길동"
name = '홍길동'

In [96]:
txt = "I'm a boy"

In [97]:
print(txt)

I'm a boy

In [100]:
txt2 = '길동이가 말했다. "안녕"'  #인용구사용할때 , 아니면 중간에 "나 ' 들어 갈때 구분 해서 사용하기 
print(txt2)

길동이가 말했다. "안녕"

In [110]:
txt = "안녕하세요 \n반갑습니다. \n안희진입니다"  #엔터(\n)도 글자다.
print(txt)
txt

안녕하세요
반갑습니다.
안희진입니다

'안녕하세요 \n반갑습니다. \n안희진입니다'

In [109]:
txt2 = """안녕하세요
반갑습니다.
저는 안희진입니다""" #따옴표 3개면 자동으로 엔터 형태로 바꿔준다.
print(txt2)

안녕하세요
반갑습니다.
저는 안희진입니다

In [111]:
#문자열 + 문자열 => 두개의 문자열을 합쳐줄때 사용. 
"abc"+"def"

'abcdef'

In [120]:
name = '홍길동' #이름 : 홍길동 으로 출력하고 싶을 때
print("이름 : " + name)
print("이름 :",name)

이름 : 홍길동
이름 : 홍길동

In [122]:
#숫자 + 숫자 
age = 20 #나이 : 20 으로 출력하고 싶을 때 
print("나이 : "+ age) #타입에러 발생 문자+문자 형태로 나오고 싶으니 문자로 변환

TypeError: can only concatenate str (not "int") to str

In [124]:
#str(값) => 값을 문자로 변환
str(age)
print("나이 : " + str(age))

나이 : 20

In [125]:
str(True) #True를 "True" 문자로 변환

'True'

In [126]:
str(3.45) # 숫자 3.45 에서 문자"3.45"이기 때문에 더하거나 빼는 연산이 안된다.

'3.45'

In [127]:
3.45 + 10

13.45

In [128]:
"3.45" + 10 #왜 ? 타입이달라서

TypeError: can only concatenate str (not "int") to str

In [139]:
"3.45" + 10

TypeError: can only concatenate str (not "int") to str

In [140]:
#숫자 연산을 하고 싶다면? 
float("3.45")+10

13.45

In [137]:
"-"*3

'---'

In [141]:
print("이름 : 홍길동")
print("-"*30) #구분자를 넣고 싶을때 
print("주소 : 서울")

이름 : 홍길동
------------------------------
주소 : 서울

In [144]:
#문자열의 글자 수 세기 : len(문자열)
name = "홍길동"
len(name)

3

In [145]:
# 문자열 내에 특정 문자열이 있는지 확인 : in, not in --> bool값으로 리턴 
"he" in "hello" #있으니 T

True

In [146]:
"he" not in "hello" #없니? 아니, 있어 --> F

False

In [147]:
address = "서울시 강남구 서초동"
"서초" in address

True

In [148]:
"종로" in address

False

In [149]:
len(address) #공백도 글자다.

11

In [153]:
member_id = "" #id값이 5글자 이상이여야 한다. 
len(member_id) > 5

False

In [154]:
"사용가능" if len(member_id) > 5 else "사용불가"

'사용불가'

# 문자열 이덱싱, 슬라이싱 
- 인덱싱 : 여러개 중 하나 조회  
- 슬라이싱 : 여러개 중에 범위로 조회

In [156]:
value = "안녕하세요, 반갑습니다." #0~12
print(len(value))

13

In [157]:
print(value[0])

안

In [159]:
print(value[3])

세

In [163]:
#마지막 글자를 알고 싶다면 -1 
print(value[-1])

.

In [161]:
print(value[15]) #인덱스 0~12, -1~-13 범위 외 지정하면 에러

IndexError: string index out of range

In [166]:
value[0] = '가' #문자열 특정 인덱스의 값을 할당 할 수 없다.

TypeError: 'str' object does not support item assignment

In [2]:
value = "안녕하세요, 반갑습니다." 
print(value[0:4]) #0부터 4-1까지 가져와라

안녕하세

In [4]:
print(value[0:5:2]) #0,2,4 인덱스를 가져온다. 간격지정

안하요

In [6]:
print(value[3:-2])

세요, 반갑습니

In [7]:
print(value[:5]) #시작 인덱스 생략 =>

안녕하세요

In [8]:
print(value[7:]) #끝 인덱싱 생략

반갑습니다.

In [11]:
print(value[-1:-13]) #조회가 안된다. 왜? 간격(step)을 생략했을땐 1이 기본값이기 때문에 -1, 0,1,2 이렇게 증가 이지만 끝인덱스 값을 -13으로 갈수가 없으니 스텝을 감소 시켜야 한다.

In [13]:
print(value[-1:-14:-1]) #-1씩 감소하니  오른쪽에서 왼쪽으로 조회가 된다. 리버스

.다니습갑반 ,요세하녕안

In [15]:
print(value[:])

안녕하세요, 반갑습니다.

# 문자열 formatting
- 문자열에 문자 형태를 미리 많들어 놓고 나중에 값을 대입하는 방식. 
- 방식1. format()함수 사용, {}을 변수 처리 //재사용할 때 편함
- 방식2. f''  //변수받아서 일회성으로 사용할 때
- 방식3. 형식문자를 이용한 formattion. %s 문자열, %d 정수, %f 실수, %% %

In [32]:
#방식1. format()함수 이용해서 변수 처리 
my_format = '이름 : {}, 나이 : {}, 성별 : {}'
print(my_format)

이름 : {}, 나이 : {}, 성별 : {}

In [33]:
value1 = my_format.format('홍길동',20,'남성')
value2 = my_format.format('이영희',23,'여성')
print(value1)

이름 : 홍길동, 나이 : 20, 성별 : 남성

In [22]:
print(value2)

이름 : 이영희, 나이 : 23, 성별 : 여성

In [38]:
my_format2 = "이름 : {name}, 나이 :{age}, 주소 : {address}, 이름 : {name}, 이름 : {name}"
f4 = my_format2.format(name="홍길동",age=20,address="서울")
print(f4)
#어떨때 사용? 변수가 명확해 지니 순서 상관없이 변수맞게 넣어도 포맷에 맞춰짐. 명확해짐
#같은 값을 여러 군데 넣을때 가능 하다. 변수 1개로 여러군데로 출력 가능하다.

이름 : 홍길동, 나이 :20, 주소 : 서울, 이름 : 홍길동, 이름 : 홍길동

In [39]:
name1 = "홍길동"
age1 = 30
address1 = "인천"
my_format = "이름 : {}, 나이 : {}, 주소 : {}"
print(my_format.format(name1, age1, address1))

이름 : 홍길동, 나이 : 30, 주소 : 인천

In [35]:
#방식2. f'' 방식 
height = '180.5cm'
weight = '75kg'
value = f'키는 {height}이며, 몸무게는 {weight}입니다'
print(value)

키는 180.5cm이며, 몸무게는 75kg입니다

In [44]:
print(f"이름: {name1}, 나이 : {age1}, 주소 : {address1}") #{}값에 변수를 넣으면 된다.

이름: 홍길동, 나이 : 30, 주소 : 인천

In [54]:
#방식3. 형식 문자를 이용한 포매팅 
print("이름 : %s, 나이 : %d, 키 : %f" % ('홍길동',32,175.3))

이름 : 홍길동, 나이 : 32, 키 : 175.300000

In [55]:
#만약 타입 다르게 넣으면 에러가 난다. 타입이 지정된 형태 
print("이름 : %s, 나이 : %d, 키 : %f" % ('홍길동','스무살',175.3))

TypeError: %d format: a number is required, not str

In [58]:
# 소수점 자리 맞추기 .2 .3 , 기본값은 6자리 
print("이름 : %s, 나이 : %d, 키 : %.2f" % ('홍길동',32,175.3))

이름 : 홍길동, 나이 : 32, 키 : 175.30

In [59]:
#문자열에 %가 넣고 싶을 때 
print("상승률은 ? %d%" %(50))

ValueError: incomplete format

In [61]:
# %% 두번써야 한다 
print("상승률은 ? %d%%" %(50))

상승률은 ? 50%

In [65]:
# 함수 사용 - len()함수  
len("안녕하세요")

# 메소드 사용 - .format() 메소드
my_format.format(1,2,3)

'이름 : 1, 나이 : 2, 주소 : 3'

# 문자열 주요 메소드 
- split(구분문자열) : 구분 문자열을 기준으로 나눔 
- strip() : 앞뒤 공백 제거 
- lstrip() : 앞 공백 제거 
- rstrip() : 뒤 공백제거 
- replace('바꿀문자열','새문자열') : 바꿀문자열을 새 문자열로 바꾼다
- in, not in : 문자열안에 있는지 (in) 없는지(not in) --> T/F
- count('세려는문자열') : 세려는 문자열이 몇번 쓰였는지 확인 
- index(문자열) :

In [66]:
#split()
value = "사과,귤,수박,복숭아"

In [72]:
value.split(",")

['사과', '귤', '수박', '복숭아']

In [75]:
fruit = value.split(',')
fruit[0]

'사과'

In [81]:
val = '파이썬 자바 C 루비'
result = val.split() # 구분자 기본값은 공백 
result

['파이썬', '자바', 'C', '루비']

In [86]:
#strip 앞뒤 공백제거 
val = "      abc    "
result = val.strip()
print(result)
print(len(result))

abc
3

In [85]:
result = val.lstrip()
print(result)
print(len(result))

abc
7

In [88]:
result = val.rstrip()
print(result)
print(len(result))

      abc
9

In [170]:
val = "xxx홍길x동xxx"
result = val.strip("x")
print(result)

홍길x동

In [95]:
#언제 많이 사용하나? 사용자아이디 받을 때
customer_id = input("아이디 입력 : ")

아이디 입력 : sdfsdfs sdfsf  sfsf

In [96]:
customer_id = customer_id.strip()
print(len(customer_id))

19

In [101]:
#replace("이전문자열","바꿀문자열")
value = "abcdfabc"
result = value.replace("abc","가나다")
print(result)

가나다df가나다

In [104]:
result2 = value.replace("abc","")
result2

'df'

In [105]:
value = 'a b c d     e'
result = value.replace(" ","") # 공백제거 
result

'abcde'

In [106]:
#count('특정문자수세기') #cf.len() : 전체 문자열 세기
value = 'abcabcaaabbc'
print(len(value))

12

In [107]:
value.count('a')

5

In [109]:
value.count('b')

4

In [110]:
value.count('abc')

2

In [117]:
#index(문자열) , find() : 문자열에 몇 번째 인덱스에 있는지 확인
#없으면 Error발생, find()는 -1 리턴 
value = '안녕하세요, 반갑습니다. 안녕하세요'
#value.index('하세요')
print(value.index('안녕')) #가장 먼저 나온것 찾고 값 반환하고 끝 
print(value.index('안녕',5)) #index 5 부터 찾아라

0
14

In [112]:
value.index('반갑')

7

In [115]:
value.index('abc')

ValueError: substring not found

In [114]:
value.find('abc')

-1

In [123]:
#upper(), lower() 전체문자열을 대문자 / 소문자로 변환 
#startswith("문자열") : 문자열로 시작하는지 확인 --> T/F
#endswith("문자열") : 문자열로 끝나는지 화가인 --> T/F
 
value = "abcDEF"
value.upper()

'ABCDEF'

In [119]:
value.lower()

'abcdef'

AttributeError: 'str' object has no attribute 'startwith'

In [124]:
value.startswith("abc")

True

In [125]:
value.startswith("EF")

False

In [126]:
value.endswith("EF")

True

In [129]:
txt = 'www.example.com'
txt.strip('cmow.')

'example'

In [131]:
txt2 = '#....... Section 3.2.1 Issue #32 .......'
txt2.strip('#.! ')

'Section 3.2.1 Issue #32'

In [134]:
#ctl+shift+ - 키 누르면 분리됨

In [136]:
#1. 주민번호 "901211-1027213"의 앞 6자리만 조회해서 출력하시오.
jumin = "901211-1027213"
print(jumin[:6])

901211

In [138]:
#2.  "안녕하세요" 를 10번 출력하시오.
hello = "안녕하세요"
print(hello*10)

안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요

In [145]:
#3.
name="TV"
price=300000
maker = "LG"
# 위 변수의 값을 다음과 같은 형태로 출력하시오.
#"제품명 : TV, 가격 : 300000, 제조사 : LG"
value = f"제품명 : {name}, 가격 : {price}, 제조사 : {maker}"
value

'제품명 : TV, 가격 : 300000, 제조사 : LG'

In [174]:
#4
fruits = "사과 복숭아 귤 배"
# 위 fruits에 "수박"이 있는지 확인하는 코드를 작성하시오.
"수박" in fruits

False

In [147]:
#5.
str_value="aldkjaldjfalfjlksajfladlkaalalkdjfa"
# str_value에 a가 몇개 있는지 출력하시오.
str_value.count('a')

9

In [171]:
#6.
# 다음 문자열에서 '-'를 제거 후 출력하세요.
tel = "010-7777-9999"
result = tel.replace("-","")
result

'01077779999'

In [182]:
#7
# 다음 문자열 "Niceman" 에서 "man" 문자열만 출력하세요.
value = "Niceman"
result = value.lstrip("Nice")
result = value[-3:]
result = value[4:]
result = value.replace("NIce","")
result

'Niceman'

In [173]:
# 8
# 다음 문자열(URL)에서 "http://" 부분을 제거 후 출력하세요. :
url = "http://daum.net"
result = url.lstrip("http://")
result

'daum.net'