# 데이터 타입 변환 함수

### 정수로 변환 : int()

In [15]:
print(int(5.78), int(124.32))
print(int("100"))

5 124
100

In [9]:
print(int('abc')) #정수 형태의 문자열만 변환 가능

ValueError: invalid literal for int() with base 10: 'abc'

In [11]:
print(int("50.123")) # 정수 형태의 문자열만 변환 가능

ValueError: invalid literal for int() with base 10: '50.123'

In [13]:
v = input("숫자 : ") # 입력시 str
print(int(v) + 100) # 타입 에러난다. input 입력받을때 문자열로 입력받기 때문 따라서 형변환해줘야 한다.

숫자 : 100
200

### 실수로 변환 : float()

In [16]:
print(float(100))

100.0

In [17]:
print(float("5.123"), float("50")) #문자열 실수로 변환 가능 cf. 문자열 정수 차이 있음

5.123 50.0

### 문자열로 변환 : str()
- 모든 타입의 값을 문자열로 변환

In [19]:
str(10)+"개"

'10개'

In [20]:
str(20.5)

'20.5'

In [21]:
str(True)

'True'

- 팁 
<br> 주석 단추키 : ctr + /
<br> REPL : Read Evaluate Print Loop 결과를 바로바로 출력해주는

# 자료구조 
- 리스트 []
- 튜플 ()
- 딕셔너리 {}
- set(집합) {}

### 리스트List []
- 값 순서대로 저장되어 관리하는 구조 
- 원소, 요소(element),항목(item) : 자료구조에 모아 곤리되는 값 하나하나
- len(리스트) : 리스트의 원소 개수 조회
- 각 원소들은 index를 가지고 index로 관리(조회나 변경)된다
- 다른 타입의 값들을 모을 수 있다.
- 리스트의 원소들은 다른 값으로 바꿀 수 있다.
- 구문 : [값, 값, 값, 값]
- 값들은 , 로 구분해서 넣는다
- 값들의 타입이 같지 않아도 된다

In [47]:
# 생성 [v1, v2, v3, v4]
list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = ['홍길동', '박영희', '이명수']

In [29]:
print(list1)
print(list2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['홍길동', '박영희', '이명수']

In [32]:
# 같은 타입만 모으지 않아도 된다.
list3 = [100, 2.5, None, "abc", True, False]
list3

[100, 2.5, None, 'abc', True, False]

In [34]:
# A사람의 정보가 모여있다. 
A_info = ["홍길동", 20, "서울", 174.2, 78.3, "회사원", False]

#정보를 알고 싶을때? 이름, 나이, 주소, 키, 몸무게, 직업, 결혼여부 등 값만 알뿐 .. 찾기는 어려워 
#주로 어떨때 리스트 사용? 같은 형태의 값들 모을때 
#넣은 순서대로 관리되고 있다.

### list indexing / slicing

In [35]:
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
list1[0]

0

In [38]:
list1[5]

5

In [39]:
list1[-1]

10

In [40]:
#문자열과 다르게 값 변경 할수 있다.
list1[0] = 100
list1

[100, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
list1[-1] = 300
list1

[100, 1, 2, 3, 4, 5, 6, 7, 8, 9, 300]

In [45]:
list1[1:8:3]

[1, 4, 7]

In [46]:
list1[-1:1]

[]

In [47]:
list1[-1:1:-1]

[300, 9, 8, 7, 6, 5, 4, 3, 2]

In [52]:
list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list1[:5] = []
list1

[5, 6, 7, 8, 9, 10]

In [54]:
del list1[0]
list1

[7, 8, 9, 10]

In [55]:
# 리스트 안에 리스트(자료구조)를 원소로 추가
list3 = [
    [1,2,3],
    [10,20,30],
    [40,50,60]
]
#큰 박스 이름은 list3 , 1 = [0]

In [58]:
list3[0][1]

2

In [59]:
list3[1][2]

30

In [61]:
# + 연산자를 이용해 리스트 합치기 
# 리스트 + 리스트 => 두 리스트를 합친 새로운 리스트 생성 
num_list1 = [1, 2, 3]
num_list2 = [10, 20]
result = num_list1 + num_list2 
result

[1, 2, 3, 10, 20]

In [62]:
# 리스트 * n : 리스트 반복하기 
a = [1, 2, 3]
b = a * 3 
b

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [64]:
# in, not in 연산자 
a = [1, 2, 3]
print(3 in a)
print(4 not in a)

True
True

In [70]:
# 리스트 대입 
[10, 20, 30]

v1 = a[0]
v2 = a[1]
v3 = a[2]

#한번에 처리 하고 싶으면 ? 
# 각 변수에 리스트의 원소들이 순서대로 들어간다. 갯수 맞아야 함 
v1, v2, v3 = [10, 20, 30]
print(v1, v2, v3)

10 20 30

In [75]:
a, b, c = num_list1
print(a, b, c)

1 2 3

In [76]:
# in, not in 많이 쓰임
c_list = ['서울', '부산', '인천', '광주', '대구']
"서울" in c_list

True

In [77]:
"울산" in c_list

False

In [78]:
"서울" not in c_list

False

In [79]:
"울산" not in c_list

True

### List 주요 메소드
- append(값) : 값을 마지막 원소로 추가
- extend(리스트) : 인수로 받은 리스트의 원소들을 추가 (+연산 효과) +와는 차이 있어
- sort([reverse=True]) : 리스트 내 원소를 오름차순 정렬 / reverse=True 내림차순 
- insert(index, 값) : 값을 해당 인덱스에 삽입한다.
- remove(값) : 리스트에서 값과 일치하는 원소를 삭제한다. 일치하는 첫번째 원소만 
- index(값,[시작idx]) : 값의 index번호를 반환한다. 찾기 시작할 index지정가능 
- pop([index]) : index의 값을 삭제하면서 반환한다. 인덱스 생략시 마지막 원소를 반환 삭제 한다. 
- count(값) : 매개변수에 전달한 값의 개수를 반환한다. 
- clear() : 모든 원소들을 한번에 제거한다.

In [81]:
c_list.append("울산")
c_list

['서울', '부산', '인천', '광주', '대구', '울산']

In [82]:
c_list + ['성남', '대전', '구리']  #새로운 리스트를 만드는 거

['서울', '부산', '인천', '광주', '대구', '울산', '성남', '대전', '구리']

In [83]:
c_list  # 실제 더해진 게 아니다.

['서울', '부산', '인천', '광주', '대구', '울산']

In [95]:
c_list.extend(['성남', '대전', '구리'])
c_list

['청주', '인천', '울산', '서울', '부산', '대구', '광주', '성남', '대전', '구리']

In [88]:
sorted(c_list)

['광주',
 '구리',
 '구리',
 '구리',
 '대구',
 '대전',
 '대전',
 '대전',
 '부산',
 '서울',
 '성남',
 '성남',
 '성남',
 '울산',
 '인천']

In [89]:
c_list = ['서울', '부산', '인천', '광주', '대구', '울산']
sorted(c_list) # 내장함수, 정렬한 새로운 리스트를 반환. 원본은 두고 싶을때

['광주', '대구', '부산', '서울', '울산', '인천']

In [90]:
c_list #실제 정렬된것이 아님 ,

['서울', '부산', '인천', '광주', '대구', '울산']

In [91]:
c_list.sort()
c_list # 그자체로 바뀜 , 원본 바꾸고 싶을때

['광주', '대구', '부산', '서울', '울산', '인천']

In [92]:
c_list.sort(reverse=True) # 내림차순 
c_list

['인천', '울산', '서울', '부산', '대구', '광주']

In [93]:
[1, "가", ].sort()  #타입이 다르기 때문에 정렬이 어렵다.

TypeError: '<' not supported between instances of 'str' and 'int'

In [94]:
#청주를 맨 앞에 넣고 싶다면? insert()
c_list.insert(0,"청주")
c_list

['청주', '인천', '울산', '서울', '부산', '대구', '광주']

In [96]:
c_list.insert(2,"충주")
c_list

['청주', '인천', '충주', '울산', '서울', '부산', '대구', '광주', '성남', '대전', '구리']

In [97]:
#remove() : 삭제하고 싶은 값을 삭제 
c_list.remove("울산")
c_list

['청주', '인천', '충주', '서울', '부산', '대구', '광주', '성남', '대전', '구리']

In [98]:
c_list.remove('abc') #없는 값 삭제 시 에러 따라서 지우기 전 존재 여부 확인 후 삭제

ValueError: list.remove(x): x not in list

In [100]:
if "뉴욕" in c_list:
    c_list.remove("뉴욕")
else:
    print("뉴욕은 없습니다.")

뉴욕은 없습니다.

In [106]:
c_list.append("서울")
c_list

['청주',
 '인천',
 '충주',
 '부산',
 '대구',
 '광주',
 '성남',
 '대전',
 '구리',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울']

In [109]:
c_list.remove("서울")
c_list

['청주', '인천', '충주', '부산', '대구', '광주', '성남', '대전', '구리', '서울', '서울']

In [111]:
#인덱스 활용해서 지우고 싶으면 del, 값을 활용해서 지우고 싶으면 remove()
del c_list[3]
c_list

['청주', '인천', '충주', '광주', '성남', '대전', '구리', '서울', '서울']

In [113]:
v = c_list.pop() 
v #맨 뒤에 있는 값을 삭제하면서 반환한다. 마지막 것 뽑아낸다.

'서울'

In [114]:
c_list

['청주', '인천', '충주', '광주', '성남', '대전', '구리']

In [115]:
len(c_list)

7

In [116]:
c_list.count("서울") #"서울" 몇개 있는지?

0

In [117]:
c_list.count("성남")

1

In [118]:
c_list.count("뉴욕")

0

In [119]:
c_list.clear() #모든 원소를 삭제 
c_list

[]

In [121]:
len(c_list)

0

### 튜플Tuple ()
- 리스트와 같이 순서대로 원소들을 저장하는 자료 
- 차이점 : 원소를 변경할 수 없다.
- 튜플은 각 위치(index)마다 정해진 의미가 있고, 그 값이 한번 설정되면 바뀌지 않는 경우에 많이 사용 
- 튜플은 값이 변경되지 않으므로 안전하다
- (값1, 값2, 값3) 
- 괄호 생략이 가능하다

In [2]:
t1 = (1, 2, 3)
type(t1)

tuple

In [3]:
t1 = 1, 2, 3
type(t1)

tuple

In [9]:
#튜플 대입 
v1, v2, v3 = 1, 2, 3
print(v1, v2, v3)

1 2 3

In [10]:
1, 2, 3, 4

(1, 2, 3, 4)

In [12]:
# 원소가 1개인 튜플 : 원소 뒤에 , 를 붙인다 
t3 = (1)
type(t3)

int

In [13]:
t3 = (1,)
type(t3)

tuple

In [15]:
# tuple(리스트) : 리스트를 튜플로 변환
nums = [1,2,3,4,5]
nums_tuple = tuple(nums)
type(nums_tuple)
nums_tuple

(1, 2, 3, 4, 5)

In [16]:
t6 = (10, 20, 30)
l6 = list(t6) # 튜플을 리스트로 변환

In [19]:
l6

[10, 20, 30]

In [18]:
t6

(10, 20, 30)

In [20]:
#튜플은 변경이 안되니 튜플을 리스트로 변환해서 리스트에서 값을 변경한다. 
l6 = list(l6)
l6[0] = 1000
l6

[1000, 20, 30]

In [21]:
#튜플 인덱싱과 슬라이싱 
t1 = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
t1

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [22]:
t1[0]

0

In [23]:
t1[-1]

9

In [24]:
t1[::3]

(0, 3, 6, 9)

In [25]:
t1[0] = 10 #튜플은 값을 변경/추가/삭제 할 수 없다

TypeError: 'tuple' object does not support item assignment

In [26]:
#연산자
1 in t1

True

In [27]:
100 in t1

False

In [28]:
1 not in t1

False

In [29]:
100 not in t1

True

In [30]:
t2 = 100, 200, 300
t2

(100, 200, 300)

In [34]:
t1 + t2 # 두 튜플이 가진 원소들을 합친 새로운 튜플 반환

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 100, 200, 300)

In [38]:
t4 = t2 * 5
t4

(100, 200, 300, 100, 200, 300, 100, 200, 300, 100, 200, 300, 100, 200, 300)

In [36]:
t2

(100, 200, 300)

In [39]:
t4.count(100)

5

In [42]:
t4.index(100) #값과 동일한 첫번째 원소가 몇번째 인덱스에 있는지 반환.

0

In [44]:
# x 와 y는 값을 바꾸기
x = 10 
y = 100 
tmp = y 
y = x 
x = tmp
print(x, y)

100 10

In [46]:
#튜입 대입을 이용해서 간단하게 처리 가능
x, y = 10, 20 
x, y = y, x 
x, y

(20, 10)

### 딕셔너리 (Dictionary) {}
- 값을 key : value 의 형태로 저장하는 자료구조 
- 리스트나 튜플의 인덱스 역할을 하는 key를 직접 지정 
- {키1 : 값1, 키2 : 값2}
- 키는 불변의 값들만 사용가능하다 (숫자, 문자열, 튜플)
- key값은 중복으 허용하지 않는다.  (이미 있는 키 값으로 추가 하면 변경이 된다.)
- value는 중복된 값을 저장할 수 있다.

In [49]:
d1 = {"참외":10, "수박":20, "귤" :50}
d1

{'참외': 10, '수박': 20, '귤': 50}

In [50]:
d2 = {"이름":"홍길동", "나이":30, "주소":"서울시종로구"}
d2

{'이름': '홍길동', '나이': 30, '주소': '서울시종로구'}

In [51]:
#조회 : indexer[] 이용 
d1["참외"]

10

In [52]:
d2["이름"]

'홍길동'

In [55]:
d1["바나나"] #없는 키로 조회 시 키 에러 발생

KeyError: '바나나'

In [66]:
# 있는 키에 값을 대입하면 값 변경
d2["이름"] = "이순신"
d2

{'이름': '이순신', '나이': 30, '주소': '서울시종로구'}

In [63]:
#없는 키에 값을 대입하면 추가가 됨. 
d1["바나나"] = 30
d1

{'참외': 10, '수박': 20, '귤': 50, '바나나': 30}

In [65]:
len(d2)

3

In [67]:
# in , not in : 키가 잇는지 여부 반환 
"이순신" in d2 #값의 여부를 확인하는게 아님. 키 값을 확인하는거

False

In [68]:
"이름" in d2

True

In [69]:
#pop(key) : 키와 연결도니 값을 반환하면서 삭제. 키가 없으면 키 에러 발생 
d1.pop("복숭아")

KeyError: '복숭아'

In [75]:
d2["이름"]

'이순신'

In [76]:
d2.get("이름")

'이순신'

In [77]:
d2.get("나이")

30

In [81]:
print(d2)
v = d2.get("키") #없는 키 값 조회 시 None을 반환 
print(v)

{'이름': '이순신', '나이': 30, '주소': '서울시종로구'}
None

In [83]:
v = d2.get("키",-1) #없다면 "-1"(기본값)을 반환하고 싶다면
print(v)

-1

In [86]:
v = d2.get("이름","이름없음") #이름 키값이 있으면 이름 값을 출력. 없으면 "이름없음"을 반환
print(v)

이순신

In [87]:
k = d2.keys() # 키 값을 모아서 반환
print(k)

dict_keys(['이름', '나이', '주소'])

In [89]:
v = d2.values() # 값들만 모아서 리턴
print(v)

dict_values(['이순신', 30, '서울시종로구'])

In [91]:
i = d2.items()
i

dict_items([('이름', '이순신'), ('나이', 30), ('주소', '서울시종로구')])

- dict() 함수 : 딕셔너리를 생성하는 함수. 
- {key : value, key : value} 구문 말고 
- dict()함수를 통해서도 만들수 있다.
- dict(key1=val1, key2=val2, key3=val3)

In [94]:
d3 = dict(귤=10, 사과=20, 수박=50)
type(d3)

dict

In [95]:
d3

{'귤': 10, '사과': 20, '수박': 50}

In [96]:
d3["귤"]

10

### 집합set {}
- 중복되는 값을 허용하지 않고 순서를 신경쓰지 않는다.
- set은 indexing과 slicing을 지원하지 않는다.
- {값1, 값2, 값3}
- set()을 이용해 다른 자료 구조를 set으로 변환 
    - set()에 인수로 다른 자료구조 객체를 넣어 만든다
    - 다른 자료 구조의 원수 중 중복을 빼고 조회할 때

In [98]:
s1 = {1, 2, 3}
s1

{1, 2, 3}

In [100]:
s2 = {10, 5, 20, 7}
s2 # 입력 순서와 관계 없이 출력된다.

{5, 7, 10, 20}

In [102]:
s3 = {1, 1, 1, 2, 2, 2, 2, 3, 3, 4, 4, 5,} #중복을 허용하지 않는다
s3

{1, 2, 3, 4, 5}

In [106]:
s3[0] #집합은 인덱싱이나 슬라이싱 할수 없음.  --> 한 개 씩 조회가 안된다.

TypeError: 'set' object is not subscriptable

In [108]:
l = [1, 1, 1, 2, 2, 3, 3, 3]
l

[1, 1, 1, 2, 2, 3, 3, 3]

In [111]:
s4 = set(l) #중복제거 
s4

{1, 2, 3}

In [112]:
# list(), tuple(), set() : 다른 자료구조를 자신의 타입을 변환
set((2,2,2,3,3,))

{2, 3}

In [117]:
d3

{'귤': 10, '사과': 20, '수박': 50}

In [119]:
set(d3) # 딕셔너리의 키만 셋으로 만들어 진다. ==> 키 값조회 하고 싶으면 keys()

{'귤', '사과', '수박'}