# 0. 데이터 파일 읽기

- [서울시 코로나19 확진자 현황](http://data.seoul.go.kr/dataList/OA-20279/S/1/datasetView.do)
## 컬럼
- ID : 확진자 ID. 발생순서대로 1씩증가하는 값
- 확진일: 확진 날짜
- 자치구: 확진 결과를 받은 지역구.
- 여행력: 해외유입의 경우 국가명
- 접촉력: 감염된 경로. 
- 현재상태: 퇴원, 사망, NA: 치료중

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data/corona19_seoul_2021-03-15.csv', encoding = 'utf-8')
df

          ID         확진일   자치구  여행력                     접촉력 현재상태
0      30061  2021-03-14  동대문구  NaN  동대문구 소재 병원 관련(\'21.2.)   사망
1      30060  2021-03-14   강동구  NaN                감염경로 조사중  NaN
2      30059  2021-03-14   타시도  NaN           관악구 소재 미용업 관련  NaN
3      30058  2021-03-14   마포구  NaN                감염경로 조사중  NaN
4      30057  2021-03-14  서대문구  NaN              타시도 확진자 접촉  NaN
...      ...         ...   ...  ...                     ...  ...
30056      5  2020-01-31   마포구  NaN               기타 확진자 접촉   퇴원
30057      4  2020-01-30   종로구   중국                    해외유입   퇴원
30058      3  2020-01-30   중랑구  NaN                종로구 집단발병   퇴원
30059      2  2020-01-30   강서구   중국                    해외유입   퇴원
30060      1  2020-01-24   강서구   중국                    해외유입   퇴원

[30061 rows x 6 columns]

# 1. DataFrame 기본정보 조회

In [3]:
df.shape

(30061, 6)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30061 entries, 0 to 30060
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      30061 non-null  int64
 1   확진일     30061 non-null  object
 2   자치구     30061 non-null  object
 3   여행력     976 non-null    object
 4   접촉력     30061 non-null  object
 5   현재상태    27143 non-null  object
dtypes: int64(1), object(5)
memory usage: 1.4+ MB

In [5]:
df.describe(include = 'object')
# 질문 : freq 이건 뭐를 의미하지?

               확진일    자치구  여행력        접촉력   현재상태
count        30061  30061  976      30061  27143
unique         384     27  120        512      2
top     2020-12-17     기타   미국  기타 확진자 접촉     퇴원
freq           588   2000  329       9660  26738

In [6]:
df.head()

      ID         확진일   자치구  여행력                     접촉력 현재상태
0  30061  2021-03-14  동대문구  NaN  동대문구 소재 병원 관련(\'21.2.)   사망
1  30060  2021-03-14   강동구  NaN                감염경로 조사중  NaN
2  30059  2021-03-14   타시도  NaN           관악구 소재 미용업 관련  NaN
3  30058  2021-03-14   마포구  NaN                감염경로 조사중  NaN
4  30057  2021-03-14  서대문구  NaN              타시도 확진자 접촉  NaN

In [7]:
df.tail()

       ID         확진일  자치구  여행력        접촉력 현재상태
30056   5  2020-01-31  마포구  NaN  기타 확진자 접촉   퇴원
30057   4  2020-01-30  종로구   중국       해외유입   퇴원
30058   3  2020-01-30  중랑구  NaN   종로구 집단발병   퇴원
30059   2  2020-01-30  강서구   중국       해외유입   퇴원
30060   1  2020-01-24  강서구   중국       해외유입   퇴원

In [8]:
# 강사님 풀이 
df.info() # 오브젝트 타입이고, 아이디만 숫자형태, 여행력, 현재상태 결측치가 있는 것을 확인. 결측치가 몇개정도 있는지 확인해보자
df.isna().sum() # 결측치 몇개정도 있는지 확인해보기 , 여행력 : 29085, 현재상태 : 2918 (진료중) 

df.head()
df.tail()
# 확진일이 날짜인데 인트값이니 데이터타입을 변경해야한다. 
# 순번과 ID는 관계는 리버스 된 형태다

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30061 entries, 0 to 30060
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      30061 non-null  int64
 1   확진일     30061 non-null  object
 2   자치구     30061 non-null  object
 3   여행력     976 non-null    object
 4   접촉력     30061 non-null  object
 5   현재상태    27143 non-null  object
dtypes: int64(1), object(5)
memory usage: 1.4+ MB

       ID         확진일  자치구  여행력        접촉력 현재상태
30056   5  2020-01-31  마포구  NaN  기타 확진자 접촉   퇴원
30057   4  2020-01-30  종로구   중국       해외유입   퇴원
30058   3  2020-01-30  중랑구  NaN   종로구 집단발병   퇴원
30059   2  2020-01-30  강서구   중국       해외유입   퇴원
30060   1  2020-01-24  강서구   중국       해외유입   퇴원

##  1.1 범주형 컬럼들의 고유값들 조회

In [9]:
# 자치구 고유값 조회
df['자치구'].unique()
df['자치구'].value_counts()

기타      2000
강서구     1704
송파구     1658
타시도     1413
관악구     1408
강남구     1376
노원구     1322
성북구     1298
은평구     1262
중랑구     1250
동작구     1238
서초구     1148
양천구     1144
영등포구    1122
구로구     1094
동대문구    1087
강동구     1036
마포구      990
도봉구      954
광진구      876
용산구      815
서대문구     786
강북구      785
성동구      763
종로구      579
금천구      478
중구       475
Name: 자치구, dtype: int64

In [10]:
# 여행력 고유값 조회
df['여행력'].unique()
df['여행력'].value_counts()

미국                   329
영국                    63
러시아                   36
인도네시아                 34
필리핀                   33
                    ...
아르헨티나                  1
튀니지                    1
키르기즈스탄                 1
브라질,아르헨티아,칠레,볼리비아      1
미국, 브라질                1
Name: 여행력, Length: 120, dtype: int64

In [11]:
# 접촉력 고유값 조회
df['접촉력'].unique()
df['접촉력'].value_counts()

기타 확진자 접촉         9660
감염경로 조사중          6994
타시도 확진자 접촉        1304
동부구치소 관련          1175
해외유입               965
                  ...
용산구 음식점 관련           1
서초구 LG 유플러스          1
역조실 일보 반영            1
동대문구 소재 아동시설관련       1
삼성물산                 1
Name: 접촉력, Length: 512, dtype: int64

In [12]:
#현재상태 고유값 조회
df['현재상태'].unique()
df['현재상태'].value_counts()

퇴원    26738
사망      405
Name: 현재상태, dtype: int64

In [13]:
# 강사님 풀이 1) 유니크를 써도 되고, 2) 밸류카운트를 써도 된다. 
# 밸류카운트는 뒤에서 나오니 유니크를 사용해보도록하자. 
df['자치구'].unique()
df['여행력'].unique()
df['접촉력'].unique() 
df['현재상태'].unique() # 3가지 : 사망, 퇴원, 결측치(진료중)

array(['사망', nan, '퇴원'], dtype=object)

# 2. 확진일 확진자수 정보 조회

## 2.1 확진일의 빈도수

In [14]:
day_count = df['확진일'].value_counts()
day_count

2020-12-17    588
2020-12-24    566
2020-12-28    524
2020-12-25    430
2020-12-16    427
             ...
2020-04-24      1
2020-04-15      1
2020-04-18      1
2020-04-30      1
2020-04-19      1
Name: 확진일, Length: 384, dtype: int64

In [15]:
# 강사님 풀이 
df['확진일'].value_counts()
# 확진일이 object타입(문자열)으로 되어 있기때문에 날짜 형태로 변경하는것이 좋다. 
# 왜? 2020-1-20, 2020-2-10, 2020-10-5 날짜가 문자열로 저장되어 있으면 순서가 1월 -> 10월 -> 2월 순으로 정렬된다. 따라서 날짜타입으로 관리하는 것이 편하다.

2020-12-17    588
2020-12-24    566
2020-12-28    524
2020-12-25    430
2020-12-16    427
             ...
2020-04-24      1
2020-04-15      1
2020-04-18      1
2020-04-30      1
2020-04-19      1
Name: 확진일, Length: 384, dtype: int64

> ### datetime으로 변환
> - `pd.to_datetime(변환할 Series)`
> - x 또는 y 축이 날짜 일 경우 datetime 타입으로 처리하는 것이 좋다.
> - datetime을 변환하면 날짜만의 기능을 다룰 수 있다.
>     - dt accessor를 이용해 datetime의 속성값들을(년, 월, 일 등) 추출할 수 있다.
>     - https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html

## 2.2 확진일을 datetime으로 변환

In [16]:
df['확진일']

0        2021-03-14
1        2021-03-14
2        2021-03-14
3        2021-03-14
4        2021-03-14
            ...
30056    2020-01-31
30057    2020-01-30
30058    2020-01-30
30059    2020-01-30
30060    2020-01-24
Name: 확진일, Length: 30061, dtype: object

In [17]:
# 방법1. 기존에 로드된 csv파일내 '확진일' 컬럼을 datetime으로 변환 
df['확진일'] = pd.to_datetime(df['확진일'], format = '%Y-%m-%d')
df.info()
df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30061 entries, 0 to 30060
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      30061 non-null  int64
 1   확진일     30061 non-null  datetime64[ns]
 2   자치구     30061 non-null  object
 3   여행력     976 non-null    object
 4   접촉력     30061 non-null  object
 5   현재상태    27143 non-null  object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 1.4+ MB

      ID        확진일   자치구  여행력                     접촉력 현재상태
0  30061 2021-03-14  동대문구  NaN  동대문구 소재 병원 관련(\'21.2.)   사망
1  30060 2021-03-14   강동구  NaN                감염경로 조사중  NaN
2  30059 2021-03-14   타시도  NaN           관악구 소재 미용업 관련  NaN
3  30058 2021-03-14   마포구  NaN                감염경로 조사중  NaN
4  30057 2021-03-14  서대문구  NaN              타시도 확진자 접촉  NaN

In [18]:
# 방법2. csv파일 로드 시 '확진일'컬럼을 datetime으로 변환
from datetime import datetime
df = pd.read_csv('data/corona19_seoul_2021-03-15.csv',
                parse_dates = ['확진일'],
                date_parser = lambda x : datetime.strptime(x,'%Y-%m-%d'))
df.info()
df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30061 entries, 0 to 30060
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      30061 non-null  int64
 1   확진일     30061 non-null  datetime64[ns]
 2   자치구     30061 non-null  object
 3   여행력     976 non-null    object
 4   접촉력     30061 non-null  object
 5   현재상태    27143 non-null  object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 1.4+ MB

      ID        확진일   자치구  여행력                     접촉력 현재상태
0  30061 2021-03-14  동대문구  NaN  동대문구 소재 병원 관련(\'21.2.)   사망
1  30060 2021-03-14   강동구  NaN                감염경로 조사중  NaN
2  30059 2021-03-14   타시도  NaN           관악구 소재 미용업 관련  NaN
3  30058 2021-03-14   마포구  NaN                감염경로 조사중  NaN
4  30057 2021-03-14  서대문구  NaN              타시도 확진자 접촉  NaN

In [19]:
# 강사님 풀이 
df['확진일'] = pd.to_datetime(df['확진일']) # -로 년-월-일 이 구별이 되어 잇으니 포맷을 하지 않아도 데이트타입으로 변환이 된다. 지정을 해도 되긴하다. 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30061 entries, 0 to 30060
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      30061 non-null  int64
 1   확진일     30061 non-null  datetime64[ns]
 2   자치구     30061 non-null  object
 3   여행력     976 non-null    object
 4   접촉력     30061 non-null  object
 5   현재상태    27143 non-null  object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 1.4+ MB

## 2.3 확진일 관련 파생변수 추가
- 확진일에서 년을 추출해서 **'년'** 컬럼을 생성
- 확진일에서 월을 추출해서 **'월'** 컬럼을 생성
- 확진일에서 주(1년 중 몇번째 주)를 추출해서 **'주'** 컬럼을 생성
- 확진일에서 요일을 추출해서 **'요일'** 컬럼을 생성.

In [40]:
df['년'] = df['확진일'].dt.year
df['월'] = df['확진일'].dt.month
df['주'] = df['확진일'].dt.isocalendar().week
df['요일'] = df['확진일'].dt.dayofweek
df['확진일'].dt.isocalendar().groupby(['year', 'week'])['year'].count() # 여기서는 잘 나오는데
df.groupby(['년','주'])['ID'].count() # 여기서는 왜 2021년 53주로 나오는거야

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [21]:
# 강사님 풀이
tmp = df['확진일'].dt.isocalendar()

df['년'] = tmp['year'] # 1년중 몇번째 주인가? 
df['월'] = df['확진일'].dt.month
df['주'] = tmp['week']
df['요일'] = tmp['day']

df

,ID,확진일,자치구,여행력,접촉력,현재상태,년,월,주,요일
0,30061,2021-03-14,동대문구,NaN,동대문구 소재 병원 관련(\'21.2.),사망,2021,3,10,7
1,30060,2021-03-14,강동구,NaN,감염경로 조사중,NaN,2021,3,10,7
2,30059,2021-03-14,타시도,NaN,관악구 소재 미용업 관련,NaN,2021,3,10,7
3,30058,2021-03-14,마포구,NaN,감염경로 조사중,NaN,2021,3,10,7
4,30057,2021-03-14,서대문구,NaN,타시도 확진자 접촉,NaN,2021,3,10,7
...,...,...,...,...,...,...,...,...,...,...
30056,5,2020-01-31,마포구,NaN,기타 확진자 접촉,퇴원,2020,1,5,5
30057,4,2020-01-30,종로구,중국,해외유입,퇴원,2020,1,5,4
30058,3,2020-01-30,중랑구,NaN,종로구 집단발병,퇴원,2020,1,5,4
30059,2,2020-01-30,강서구,중국,해외유입,퇴원,2020,1,5,4
30060,1,2020-01-24,강서구,중국,해외유입,퇴원,2020,1,4,5

## 2.4 요일 정수를 문자열(월,화,수,목,금,토,일)로 변경
- datetime에서 요일을 추출하면 정수로 반환된다.
    - dt.week 로 조회시 - 월요일: 0, 일요일: 6
    - dt.isocalendar()['week']로 조회시 - 월요일 : 1, 일요일: 7

In [39]:
# dayofweek으로 조회시 
def change_day_str(x) :
    if x == 0 :
        return '월'
    if x == 1 :
        return '화'
    if x == 2 :
        return '수'
    if x == 3 :
        return '목'
    if x == 4 :
        return '금'
    if x == 5 :
        return '토'
    if x == 6 :
        return '일'

df['요일'] = df['요일'].apply(change_day_str)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [38]:
# 강사님 풀이 
def change_week_str(x):
    if x == 1 :
        return '월'
    if x == 2 :
        return '화'
    if x == 3 :
        return '수'
    if x == 4 :
        return '목'
    if x == 5 :
        return '금'
    if x == 6 :
        return '토'
    if x == 7 :
        return '일'
    
df['요일'] = df['요일'].apply(change_week_str)
df.head()

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

### 참고 > Categorical Data 타입
> - 범주형 타입
> - 문자열과 차이점
>     - 내부적으로 정수로 관리되기 때문에 메모리를 절약 할 수 있다. 
>     - 사전적 순서와 논리적 순서가 다를 경우 논리적 순서로 정렬되도록 정의 할 수 있다.
>         - 사전적순서: Four One Three Two
>         - 논리적순서: One Two Three Four
> - str 타입 Series를 Categorical 타입으로 변환
>     - `pandas.categorical(변환할Series), [categories=[고유값 리스트], ordered=None])`
    - categories: 고유값 리스트를 지정한다. 생략할 경우 Series의 고유값들을 가지고 만든다.
        - 원하는 순서대로 지정하기 위해서는 설정한다.
    - ordered: 순성형 여부 설정

## 2.5 요일을 Categorical Type으로 변환
# TODO : 이해가 안된다 우선은 패스

In [24]:
# 시리즈의 개념이 아직 제대로 들어오지가 않아.. 
day_week_cat = df['요일'].astype('category')
day_week_cat

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
30056    NaN
30057    NaN
30058    NaN
30059    NaN
30060    NaN
Name: 요일, Length: 30061, dtype: category
Categories (0, object): []

In [25]:
day_week_cat.values.categories

Index([], dtype='object')

In [26]:
day_week_cat.values.codes

array([-1, -1, -1, ..., -1, -1, -1], dtype=int8)

- 정해진 범주 안의 값을 갖을때 
- 예를 들어 월이면 1~12까지, 요일이면 월~일까지 정해져 있는 것 처럼 
- 주소, 이름 들도 각각의 정해져 있는 형태로 있을 때 범주형이다. 
- 타입으로 보면 주로 문자열로 사용했다. 판다스에서는 이를 나눠서해서 사용할 수 있다. 
- 요일은 월~ 일 값을 가질수 있다. 이를 범주형 타입으로 만들어서 보면 보기에는 크게 달라지는 것은 없을것이다. 
- 하지만 장점1) 메모리상에서 정수로 저장이 되기 때문에 메모리를 저장할 수 있다. 
- 딕셔너리 형태로 관리를 한다. 화면상에 출력해야할때는 1대신 월요일로 매칭해서 출력. 
- 장점2) 순서에 대한 문제 
- 문자열을 사용하게 되면 정렬 할때 사전식으로 정렬하게 된다. 
- 실제 그 값이 가지는 의미적인 순서가 다를 수 있다. 월, 화, 수, 목, 금 --> 사전식 정렬은 금 부터 시작된다. 
- 초, 중, 고, 대 -> 나이순으로 출력하고 싶은데 사전적으로 출력하면 고부터 나온다. 
- 즉, 사전식 정렬과 논리적 정렬이 다를 때 논리적 순서를 정렬할 수 있다. 

즉,
1) 메모리 절약
2) 논리적 순서

# =======6교시 ===========

In [37]:
# 강사님 풀이 
# 요일을 카테고리컬을 적용해보자
pd.Categorical(df['요일'], categories = list("월화수목금토일"))

# df['요일'] = pd.Categorical(df['요일'], categories = list('월화수목금토일'))
# todo : 여기 어떻게 바꿨지? 
# 궁금한게, 확인은? 그치. 보여지는 값은 바뀌지 않는데. 그럼 내부적으로 변경됐다라는 카테고리컬을 적용했다라는 것은 어떻게 확인? df.info
df.info()

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

## 2.6 확진자 수 변화 추이 시각화

In [ ]:
day_count.plot(kind = 'line', figsize = (20,10), label = '확진자 수')

plt.title('날짜별 확진자 수')
plt.xlabel('날짜')

plt.legend()
plt.grid(True)

plt.show()

In [ ]:
# 강사님 풀이 : 날자별로 확진자 변화 추이 -> 선그래프 
일자별_확진자수 = df['확진일'].value_counts()
일자별_확진자수.plot(kind = 'line', figsize = (15,5))
plt.axhline(y = 200, color = 'r', linestyle = ':', label = '200명')

plt.legend()
plt.grid(True)
plt.show()

- 데이트타입으로 바꿨기때문에 날짜 정렬 순으로 잘 나오고 있다. 
- 8-9월이라던지, 11-1월 사이라던지 변화량이 큰 부분만 따로 뽑아서 보는 것도 좋다.
- 왜 저렇게 변화했는지에 대해서 따로 알아보는 것도 좋다.

## 2.7 2020년 12월 이후 확진일 기준으로 확진자 수 변화 추이 시각화

In [ ]:
After_12 = df[df['확진일'] >= '2020-12-01']['확진일'].value_counts()
After_12
# After_12.sort_values()

In [ ]:
After_12.plot(kind = 'line', figsize = (20,10), label = '확진자 수')

plt.title('2020년 12월 이후 확진자 수')
plt.xlabel('날짜')

plt.legend()
plt.grid(True)
plt.show()

In [ ]:
# 강사님 풀이 
일자별확진자수_12월이후 = df.loc[df['확진일'] >= '2020-12-01', '확진일'].value_counts()
일자별확진자수_12월이후

일자별확진자수_12월이후.plot(kind = 'line', figsize = (15,5))
plt.grid(True)
plt.axhline(300, color = 'r', linestyle = ':', label = '300명')
plt.legend()
plt.show()

## 2.8 년도-주 단위 확진자 수 변화 추이 시각화
- ex) 2020년 1주차, 2020년 2주차 ...

In [ ]:
# 묶을 대상 -> 년, 주 를 기준으로 묶어보자
년도_주_확진자수 = df.pivot_table(values = ['ID'], index = ['년','주'], aggfunc = 'count')
년도_주_확진자수

In [ ]:
년도_주_확진자수.plot(kind = 'line', figsize = (20,10), label = '확진자수')

plt.legend(bbox_to_anchor = (1,1), loc = 'upper left')
plt.grid(True)
plt.show()

In [ ]:
df.groupby(['년','주'])['ID'].count()

In [ ]:
# 강사님풀이 
년도_주_별확진자수 = df.groupby(['년','주'])['ID'].count()
년도_주_별확진자수

년도_주_별확진자수.plot(kind = 'line', figsize = (15,5))
plt.xticks(ticks = range(0, 년도_주_별확진자수.size, 10), # 틱과 라벨 갯수 맞추기 위해서 10  
            labels = [f'{year}년 {week}주차' for i, (year, week) in enumerate(년도_주_별확진자수.index) if i % 10 == 0], # 10주차로 나눠서 
            rotation = 45)
plt.grid()
plt.show()

- 틱이 튜플형태로 들어가 있다. 
- *년, *주차 형태로 보고싶다면? 
- 53주차는 무엇? 2020.12월 마지막주에서 2021.1월 넘어가는 부분때문에 53주로 출력된거임. --> 데이터 뽑을때 오류난거 : 버그 
- df['주'] = df['확진일'].dt.isocalendar().week 이렇게 설정했는데도 53주가 출려됨

## 2.9 년-월 단위  확진자수 조회 및 시각화

In [ ]:
년도_월_확진자수 = df.pivot_table(values = ['ID'], index = ['년','월'], aggfunc = 'count')
년도_월_확진자수

In [ ]:
년도_월_확진자수.plot(kind = 'line', figsize = (20,10), label = '확진자수')

plt.legend(bbox_to_anchor = (1,1), loc = 'upper left')
plt.grid(True)
plt.show()

In [ ]:
# 강사님 풀이 
# 흐름적으로 볼때는 선그래프 
년_월별_확진자수 = df.groupby(['년','월'])['ID'].count()
년_월별_확진자수

년_월별_확진자수.plot(kind = 'line', figsize = (15,5))
plt.show()

In [ ]:
# 강사님 풀이, 수가 얼마 안될때 이렇게 막대로 표현해도 괜찮다.수량 확인
년_월별_확진자수.plot(kind = 'bar', figsize =(15,5), rot = 45)
plt.show()

## 2.10 월-요일별 확진자수 조회 및 시각화

In [ ]:
#todo : 요일을 월, 화, 수, 목, 금, 토, 일 순으로 할수 없나. 
월_요일_확진자수 = df.pivot_table(values = ['ID'], index = ['월','요일'], aggfunc = 'count')
월_요일_확진자수

In [ ]:
# 강사님 풀이 
월_요일_확진자수 = df.groupby(['월','요일'])['ID'].count()
월_요일_확진자수

# 정확하게 보려면 년도를 나누는게 좋다. 
월_요일_확진자수_2020 = df[df['년'] == 2020].groupby(['월','요일'])['ID'].count()
월_요일_확진자수_2020
# todo : 왜 나는 요일이 숫자형태로 보이지? 확인하기.

In [ ]:
# 강사님 풀이 
월_요일_확진자수_2020.plot(kind = 'barh', figsize = (15,15))
plt.show()

In [ ]:
# 강사님 풀이 : 월-요일별 피봇을 사용하는 것이 더 낫다
월_요일별_확진자수2 = df[df['년'] == 2020].pivot_table(values = 'ID',
                                             index = '월',
                                             columns = '요일',
                                             aggfunc = 'count',
                                             fill_value = 0) # 결측치 0으로 처리해주자
월_요일별_확진자수2 # 요일이 금목수월 이렇게 나오니 카테고리컬을 적용해보자 
월_요일별_확진자수2.plot(kind = 'bar', figsize = (10,5))
plt.show()

In [ ]:
# 히트맵으로도 가능? YES 
import seaborn as sns
plt.figure(figsize = (10,10))
sns.heatmap(월_요일별_확진자수2, cmap = 'Blues', annot = True, fmt ='d') # 'd' error : 왜? 피봇테이블에 0 자리 결측치 때문
plt.show()

# 3. 누적 확진자수 조회 및 변화 흐름 시각화 -- todo : 여기 다시 확인
- Series/DataFrame.cumsum()
    - 누적 합계
- Series.to_frame()
    - Series를 DataFrame으로 변환

## 3.1 일별(확진일) 누적 확진자수 조회

In [ ]:
df.groupby('확진일')['ID'].cumsum()

In [ ]:
# 강사님 풀이 
df['확진일'].value_counts()
df['확진일'].value_counts().sort_index()
df['확진일'].value_counts().sort_index().cumsum()
cumsum_df = df['확진일'].value_counts().sort_index().cumsum().to_frame() #데이터프레임으로 변환한다.
cumsum_df.columns = ['누적확진자수']
cumsum_df

## 3.2 확진자수 파생변수 생성

In [ ]:
df['누적확진자수'] = df.groupby('확진일')['ID'].cumsum()
df

In [ ]:
누적확진자수 = df.groupby('확진일')['ID'].cumsum().sort_values(ascending = False)
누적확진자수

In [ ]:
# 강사님 풀이 
cumsum_df['확진자수'] = df['확진일'].value_counts().sort_index()
cumsum_df.head()

## 3.3 누적 확진자수 선그래프

In [ ]:
누적확진자수.plot(kind = 'line')
plt.show()

In [ ]:
# 강사님 풀이 
cumsum_df['누적확진자수'].plot(kind = 'line', figsize = (15,5))
cumsum_df.plot(kind ='line', figsize = (15,5)) # 그래프가 2개 그래짐 -> 근데 노란색이 변화가 거의 없다 보니 트윈엑스 통해서 표현가능
plt.show()

# 4. 자치구 기준 확진자 조회

## 4.1 자치구별 확진자수 조회

In [ ]:
df['자치구'].unique()

In [ ]:
자치구별_확진자수 = df.pivot_table(index = '자치구', values = ('ID') ,aggfunc = 'count').sort_values('ID')
자치구별_확진자수
자치구별_확진자수.mean()

In [ ]:
# 강사님 풀이
자치구별_확진자수 = df['자치구'].value_counts()
자치구별_확진자수

## 4.2 자치구별 확진자수 시각화

In [ ]:
자치구별_확진자수.plot(kind = 'bar', figsize = (20,10))

plt.axhline(y=1113.37037, color = 'r', label = '자치구별 평균 확진자수')

plt.title('자치구별 확진자수')
plt.legend()
plt.grid(True)
plt.show()

In [ ]:
# 강사님 풀이 
자치구별_확진자수.sort_values().plot(kind = 'barh',figsize = (20,10)) #  컬럼이 많으면 바보다 바에이치가 더 낫다. # 화면상 큰것 부터 보기위해 정렬

# 5. 접촉력 관련 확진자 조회

## 5.1 가장 많은 집단 감염자를 낸 접촉력 상위 15개 조회

In [ ]:
접촉력_상위15 = df.groupby('접촉력')['ID'].count().sort_values(ascending = False).head(15)
접촉력_상위15
접촉력_상위15.index

In [ ]:
# 강사님 풀이 
# df['접촉력'].nuique() # 512 값이 너무 많다. 범주치고는 
df['접촉력'].value_counts().head(15)

## 5.2 가장 많은 집단 감염자를 낸 접촉력 하위 15

In [ ]:
접촉력_하위15 = df.groupby('접촉력')['ID'].count().sort_values().head(30)
접촉력_하위15
#TOdo : 1로 중복되는 경우가 많은데 이건 어떻게 하지?

In [ ]:
# 강사님 풀이 
df['접촉력'].value_counts().tail(15)

## 5.3 접촉력 상위 15개만 시각화

In [ ]:
접촉력_상위15.plot(kind = 'bar', figsize = (20,10))

plt.title('접촉력 상위 15', fontsize = 20)
plt.xlabel('접촉력', )
plt.grid(True)
plt.show()

In [ ]:
# 강사님 
df['접촉력'].value_counts().head(15).sort_values().plot(kind = 'barh', figsize = (5, 10))
plt.show()

## 5.4 확진자를 가장 많이 발생시킨 접촉력 상위 15개를 기준으로  월별 빈도수를 집계
- 몇 월에 발생했는지 확인 (년도는 무시)

In [ ]:
접촉력_상위_15_월별 = df.loc[df['접촉력'].isin(접촉력_상위15.index),['ID','월','접촉력']]
접촉력_상위_15_월별.groupby(['월'])['ID'].count()

In [ ]:
# 강사님 풀이 
idx = df['접촉력'].value_counts().head(15).index
idx

df.loc[df['접촉력'].isin(idx)].pivot_table(values = 'ID', 
                                        index = '접촉력',
                                       columns = '월',
                                       aggfunc = 'count',
                                       fill_value = 0)

# 6. 현재상태 관련조회

## 6.1 사망자 수/비율 조회

In [ ]:
df['현재상태'].unique() # 사망, 퇴원, nan(치료중)
status_count = df['현재상태'].value_counts()
status_count[0] # 사망자수 
status_count[1] # 퇴원자수 


# 컬럼별 결측 값 개수 구하기 : df.isnull().sum()
df['현재상태'].isnull().sum() # 치료중 : 2918

# NaN값을 '치료중'으로 df.fillna()
df['현재상태'].fillna('치료중')

print(type(status_count))

# 치료중 추가하기 
status_count.loc['치료중'] = df['현재상태'].isnull().sum()
status_count

In [ ]:
status_df = df.replace({'현재상태':np.nan},{'현재상태':'치료중'})
status_df

In [ ]:
status_df['현재상태'].unique()
현재상태_수 = status_df['현재상태'].value_counts()
현재상태_수

In [ ]:
status_df.groupby('현재상태')['ID'].count()

In [ ]:
# 강사님 풀이 
df['현재상태'].value_counts()['사망'] # 사망자수 
df['현재상태'].value_counts()['퇴원'] # 퇴원자수 

(df['현재상태'] == '사망').mean()
(df['현재상태'] == '퇴원').mean()

## 6.2 퇴원, 사망자, 치료중(NA)의 비율을 시각화

In [ ]:
현재상태_수.plot(kind = 'pie', 
            autopct = '%.2f%%', 
            figsize = (10,10), 
            fontsize = 20,
           explode =[0,0.2,0],
           shadow = True)

plt.title('현재상태 비율')
plt.show()

In [ ]:
# 강사님 풀이 
df['현재상태'].value_counts(dropna = False)

# 치료중으로 표현하고 싶다면
df['현재상태'].fillna('치료중').value_counts()

df['현재상태'].fillna('치료중').value_counts().plot(
    kind = 'pie',
    autopct = '%.2f',
    figsize = (7,7))
plt.show()