In [1]:
10 + 5

15

In [4]:
bool([]), bool({}) # 자료구조: 원소가 0개이면 False 1개 이상이면 True

(False, False)

In [4]:
num = 10  # 만약에 num이 0이면 "0입니다."로 출력 아니면 아무것도 출력안함.
if num==0:
    print("0입니다.")
    print("영입니다.")
    print("없습니다.")

print("종료")

종료

In [17]:
num = 10
# if 조건: -조건:bool타입이 들어와야 하는 곳. 다른 타입의 값이 들어오면 bool(논리형)으로 알아서 변환됨.
if not num:
    print("0입니다.")
    print("영입니다.")
    print("없습니다.")

print("종료")

종료

In [21]:
num = 0 
# 만약에 num이 0이면 "0입니다."를 출력하고 아니면 "0이 아닙니다." 출력
if num==0:
    print("0입니다.")
    print("영입니다.")
else:
    print("0이 아닙니다.")
    print("값-", num)

print('종료')

0입니다.
영입니다.
종료

In [22]:
# 숫자: 0, 0.0 => False 나머진: True
num = 0

In [23]:
bool(num)

False

In [25]:
not bool(num)  #not True => False, not False => True

True

In [ ]:
if not bool(num):  # True조건 : num==0
    print("0")

In [26]:
my_name = "aaa"

In [27]:
# ?print  #?함수 설명

In [ ]:
# tab: 자동완성
print    #shift + tab

In [32]:
num = 10 # num이 0보다 크면 "양수" 출력, 0이면 "0"을 출력, 0보다 작으면 "음수" 출력
if num > 0:
    print("양수")
elif num == 0:
    print("0")
elif num < 0:
    print("음수")

음수

In [ ]:
# if num==1:
#     A
# elif num==2:
#     B
# elif num==3:
#     C
# else:
#     D  => 1,2,3을 제외한 나머지 숫자일 경우

In [31]:
num = -10 # num이 0보다 크면 "양수" 출력, 0이면 "0"을 출력, 0보다 작으면 "음수" 출력
if num > 0:
    print("양수")
elif num == 0:
    print("0")
else:
    print("음수")

음수

In [49]:
# "서울": "서울 특별시",  인천, 부산, 대구, 광주, 대전, 울산 : "XX 광역시", 나머지는 "XXXX는 일반시"
city = input("도시명:")
city = city.strip()
# city = input("도시명:").strip()

도시명:서울

In [58]:
if city == "서울":
    print(f"{city}특별시")
    print(city, "특별시")#, sep="")
elif city in ["인천", "부산", "광주", "대구", "대전", "울산"]:
    print(f"{city}광역시")
else:
    print(f"{city}는 일반시")

서울특별시
서울 특별시

In [48]:
# ["인천", "부산", "광주", "대구", "대전", "울산"]==["인천", "부산", "광주", "대구", "대전", "울산"]

True

In [ ]:
# "인천" == ["인천", "부산", "광주", "대구", "대전", "울산"]

# 반복문
- while 문
    - 조건이 True인 동안 반복
- for in 문
    - 문자열, 자료구조(리스트, 튜플, 셋, 딕셔너리)의 원소들을 하나씩 모두 조회할 때 사용. (Iterable 타입)

## while 문

- 대입연산자
    - 변수 = 값
    - 변수 연산자= 값 :: 변수 = 변수 연산자 값
        - a += 10 :: a = a + 10
        - a -= 10 :: a = a - 10
        - a *= 10 :: a = a * 10

In [9]:
cnt = 0  #초기식 - 조건에서 사용되면서 조건을 False로 바꿀 때 사용할 값. 이 값은 반복구문에서 사용할 수있다.
while cnt < 10: # 조건식
#     print(cnt)
    print("안녕하세요.")
#     cnt = cnt + 1 # 증감식
    cnt += 1  #cnt = cnt + 1
print("종료")

안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
종료

In [66]:
# 1  ~  100 중에서 5의 배수만 출력 (cnt가 5의 배수이면 출력해라.)
cnt = 1
while cnt <= 100:
    if cnt % 5 == 0:
        print(cnt)
    cnt += 1

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [69]:
cnt = 1
flag = True
while flag:
    if cnt % 5 == 0:
        print(cnt)
    cnt += 1
    if cnt > 100:
        flag = False

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

## for in 문
```python
for 변수 in iterable:
    반복할 구문
```

In [76]:
fruits = ['사과', '복숭아', '귤', '수박', '배', "자두"]

index = 0  #리스트의 index
length = len(fruits)

while index < length:
    fruit = fruits[index]
    print(fruit)
    index += 1

사과
복숭아
귤
수박
배
자두

In [77]:
fruits = ['사과', '복숭아', '귤', '수박', '배', "자두"]
for fruit in fruits:
    print(fruit)

사과
복숭아
귤
수박
배
자두

In [78]:
for num in (1,2,3,4,5):
    print(num)

1
2
3
4
5

In [80]:
for num in {10, 20, 30, 1}:
    print(num)

1
10
20
30

In [11]:
d = {
    "a":10,
    "b":20,
    "c":30
}
for key in d: # 딕셔너리는 key값을 반환.
    print(key)

a
b
c

In [82]:
for key in d:
    print(d[key])

10
20
30

In [85]:
d.values(), d.keys(), d.items()

(dict_values([10, 20, 30]),
 dict_keys(['a', 'b', 'c']),
 dict_items([('a', 10), ('b', 20), ('c', 30)]))

In [86]:
for v in d.values():
    print(v)

10
20
30

In [12]:
# key가 "b"인 item의 value를 출력
for v in d.items(): # (key, value)
 
    if v[0] == 'b':
        print(v[1])

('a', 10)
('b', 20)
('c', 30)

In [ ]:
v1, v2 = ('a', 10)

In [94]:
for key, value in d.items():
    if key == "b":
        print(value)

20

In [17]:
lst = [
    [1,2,3],
    [10,20,30],
    [100,200,300]
]

In [19]:
len(lst)

3

In [18]:
for v1, v2, v3 in lst:
    print(v1, v2, v3, sep="-")

1-2-3
10-20-30
100-200-300

In [115]:
for l in lst: # l = [1,2,3],
    
    for v in l:
        print(v, end=" ")
    print() # 엔터

1 2 3
10 20 30
100 200 300 400

In [ ]:
i = [1,2,3]
i = [10, 20, 30]
i = [100,200,300,400]
for i in lst:  #3번
    for v in i:  #3번
        print(v) #1번반복:3, 2번:3, 3번: 4

In [109]:
for s in "abcdef가나다라":
    print(s, end=", ")

a, b, c, d, e, f, 가, 나, 다, 라,

In [113]:
print("a", "b", 20, sep="/", end=",") #end생략: 엔터, sep생략: 공백

a/b/20,100

In [20]:
while True:
    print(1)
    break

1

In [21]:
while True:
    a = input("입력")
    print(a)
    if a == 'quit':
        break

입력test
test
입력aaaaa
aaaaa
입력1000
1000
입력quit
quit

In [22]:
while True:
    continue
    
    print(10)

KeyboardInterrupt:

In [117]:
cnt = 1
while True:
    if cnt % 5 == 0:
        print(cnt)
    cnt += 1
    if cnt > 100:#반복을 끝낼 조건
        break #반복문 끝내라.

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [118]:
# while True:
#     print(1)
#     if 멈출조건:
#         break

1

In [119]:
cnt = 1
while cnt <= 100:
    if cnt % 5 != 0: #5의 배수가 아니면
        cnt +=1
        continue
    print(cnt)
    cnt += 1

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [124]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    if i % 3 != 0:
        continue
    print(i)

3
6
9

In [129]:
cnt = 1
result = []
while cnt <= 100:
    if cnt % 5 != 0: #5의 배수가 아니면
        cnt +=1
        continue
    result.append(cnt)
    cnt += 1

In [130]:
result

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

In [143]:
tmp_list = []
result = []

for idx, i in enumerate(range(111)):#[0,1,2,.....,99, 100]
    if i % 5 == 0:
        tmp_list.append(i)
    if (len(tmp_list)==4) | (idx==len(range(111))-1):
        result.append(tmp_list)
        tmp_list = []

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110

In [142]:
result

[[0, 5, 10, 15],
 [20, 25, 30, 35],
 [40, 45, 50, 55],
 [60, 65, 70, 75],
 [80, 85, 90, 95],
 [100, 105, 110]]

## for in 문 관련 내장함수
- range()
- enumerate()
- zip()

### range([시작정수] , 종료정수, [증감정수] ) - [ ] 생략가능

In [28]:
# range(1, 10, 2)    #1 ~ 10-1  2씩 증가 . 1, 3, 5, 7, 9
for i in range(1,10,2):
    print(i, end=' ')
#     break

1 3 5 7 9

In [ ]:
# list(), tuple(), set() iterable타입의 객체를 list, tuple, set으로 변환

In [29]:
lst = list(range(1,11))   # 1 ~ 11-1 1씩 증가 = 증감치 생략
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
tu = tuple(range(10))  #range(10) : 종료정수.  0 ~ 9, 1씩 증가
tu

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [32]:
s = set(range(5))
s

{0, 1, 2, 3, 4}

In [34]:
# 증감치가 음수일 경우  시작값 > 종료값
list(range(10,-10,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [35]:
list(range(10,-10,-5))

[10, 5, 0, -5]

In [40]:
# 안녕 10번 반복 사용
# 변수를 `_` : 반복문내에서 사용하지 않겠다. => 관례
for _ in range(10): # 0 ~ 9 : 10번
    print(_, "안녕")

0 안녕
1 안녕
2 안녕
3 안녕
4 안녕
5 안녕
6 안녕
7 안녕
8 안녕
9 안녕

### enumerate(Iterable  [, start=시작값])   [ ]: 생략가능

In [42]:
str_list = ['가','나', '다','라','마']
for s in enumerate(str_list):
    print(s)

(0, '가')
(1, '나')
(2, '다')
(3, '라')
(4, '마')

In [46]:
for idx, s in enumerate(str_list):
    if idx == 3:
        print(idx, s)

3 라

In [48]:
for idx, s in enumerate(str_list, start=100):
    print(idx, s)

100 가
101 나
102 다
103 라
104 마

In [49]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### zip(iterable, iterable [, ......])

In [61]:
a = [1, 2, 3]
b = [10, 20, 30]
c = 100,200,300,400,500
d = {'가', '나', '다'}

In [62]:
for v in zip(a, b, c, d):
    print(v)

(1, 10, 100, '다')
(2, 20, 200, '가')

In [63]:
names = ['홍길동',  '이순신', '박영희']
ages = [20, 30, 40]
talls = [170, 180, 190]

In [64]:
for info in zip(names, ages, talls):
    print(info)

('홍길동', 20, 170)
('이순신', 30, 180)
('박영희', 40, 190)

In [65]:
for name, age, tall in zip(names, ages, talls):
    print(name, age, tall)

홍길동 20 170
이순신 30 180
박영희 40 190

## 컴프리헨션(Comprehesion)

In [75]:
lst = [1, 2, 3, 4, 5, 6]
# lst의 원소들에 10을 더한 값들을 원소로 가지는 리스트를 생성.

In [76]:
lst2 = []
for num in lst:
    lst2.append(num+10)

In [77]:
lst2

[11, 12, 13, 14, 15, 16]

In [80]:
result = [num+10 for num in lst]  #리스트 컴프리헨션
result

[22, 24, 26, 28, 30, 32]

In [82]:
result2 = {num+10 for num in lst} # {값, 값}  # set 컴프리헨션 (파이썬 3.)
result2, type(result2)

({11, 12, 13, 14, 15, 16}, set)

In [84]:
result2 = {num:'가'  for num in lst}  #{k:v, k:v} # 딕셔너리 컴프리헨션 (파이썬 3.)
result2, type(result2)

({1: '가', 2: '가', 3: '가', 4: '가', 5: '가', 6: '가'}, dict)

In [90]:
result3 = {idx:num for idx, num in enumerate(lst2)}
result3

{0: 11, 1: 12, 2: 13, 3: 14, 4: 15, 5: 16}

In [92]:
dic = {}
for idx, num in enumerate(lst2):
    dic[idx] = num

In [93]:
dic

{0: 11, 1: 12, 2: 13, 3: 14, 4: 15, 5: 16}

In [97]:
{idx+1:num*100 for idx, num in enumerate(lst2)}

{1: 1100, 2: 1200, 3: 1300, 4: 1400, 5: 1500, 6: 1600}

In [99]:
num_list = list(range(100))

In [102]:
#num_list의 원소들 중에 10의 배수만 가지는 리스트를 생성.
result = []
for num in num_list:
    if num%10 == 0:
        result.append(num)

In [103]:
result

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [107]:
result2 = [num for num in num_list if num%10==0]
result2

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
# [변수 for 변수 in iterable [for in 또는 if문] [for in 또는 if문] [for in 또는 if문]]

## TODO

In [110]:
x = 20
# 91<= x <=100 #기본문법은 지원
x>=91 and x<=100
(x>=91) & (x<=100)

False

In [119]:
#(1) 다음 점수 구간에 맞게 학점을 출력하세요.
# 91 ~ 100 : A학점
# 81 ~ 90 :  B학점
# 71 ~ 80 :  C학점
# 61 ~ 70 :  D학점
# 60이하   : F학점
x = int(input("점수:"))
# print(x)
if x>=91 and x<=100:
    print('A학점')
elif x>=81 and x<=90:
    print('B학점')
elif x>=71 and x<=80:
    print("C학점")
elif x>=61 and x<=70:
    print("D학점")
elif x>=0 and x<=60:
    print('F학점')
else:
    print("올바른 점수가 아닙니다.")

점수:-20
-20
올바른 점수가 아닙니다.

In [127]:
x = int(input("점수:"))
# print(x)
if x<0 or x>100:
    print("잘못된 점수")
elif x>=91 and x<=100:
    print('A학점')
elif x>=81:
    print('B학점')
elif x>=71:
    print("C학점")
elif x>=61:
    print("D학점")
elif x>=0:
    print('F학점')

점수:100
A학점

In [138]:
#(2) 아래 리스트의 평균을 구하시오.
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
avg = None #평균값을 저장할 변수
sum_value = 0 #합계를 저장할 변수

for num in jumsu:
    sum_value = sum_value + num

print(sum_value)
avg = sum_value/len(jumsu)
print("평균:", avg)

890
평균: 89.0

In [134]:
# sum(Iterable) : 합계구하는 내장함수
sum(jumsu)/len(jumsu)

89.0

In [137]:
sum((1,2,3)), sum({1,2,3}), sum(range(11))

(6, 6, 55)

In [ ]:
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]

In [141]:
#(3) 위 jumsu리스트에서 평균점수이상은 pass, 미만은 fail을 index번호와 함께 출력하시오. (ex: 0-pass, 1-pass, 2-fail)
for idx, num in enumerate(jumsu):
    if num >= avg:
        print(f"{idx}-pass")
    else:
        print(f"{idx}-fail")

0-pass
1-pass
2-pass
3-fail
4-fail
5-pass
6-fail
7-pass
8-pass
9-fail

In [144]:
# sum = 10
# del sum
# sum([1,2,3])

6

In [147]:
#(4) 아래 리스트 값들 중 최대값을 조회해 출력
jumsu = [60, 90, 80, 80, 70, 55,  80, 90, 95, 85]
max_value = jumsu[0]
for num in jumsu:
    if num > max_value:
        max_value = num

print('최대값:', max_value)

최대값: 95

In [150]:
# 내장함수
print(max(jumsu)) # 최대값
print(min(jumsu)) # 최소값
print(sum(jumsu)) # 합계

95
55
785

In [155]:
#(5) 다음 리스트 중에서 '정' 글자를 제외하고 출력하세요.
str_list = ["갑", "을", "정", "병", "정"]
for s in str_list:
    if s!="정":
        print(s)

갑
을
병

In [156]:
for s in str_list:
    if s=="정":
        continue
    print(s)

갑
을
병

In [166]:
#(6) 사용자로부터 정수를 입력받아 그 단의 구구단을 출력하시오.
# ex) 단을 입력하시오 : 2
# 2 x 1 = 2
# 2 x 2 = 4
#..
# 2 x 9 = 18
dan = input("단을 입력하시오:") #문자열
dan = int(dan)
for num in range(1, 10):
#     print(f"{dan} X {num} = {dan*num}")
#     print("{} X {} = {}".format(dan, num, dan*num))
    print("%d X %d = %d" % (dan, num, dan*num))

단을 입력하시오:8
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

In [171]:
# 구구단표
for num in range(1,10): # 숫자 * num  
    for dan in range(2, 10): 2
        print("{} X {} = {}".format(dan, num, dan*num), end="\t") #\n: 엔터, \t: tab
    print()

2 X 1 = 2	3 X 1 = 3	4 X 1 = 4	5 X 1 = 5	6 X 1 = 6	7 X 1 = 7	8 X 1 = 8	9 X 1 = 9
2 X 2 = 4	3 X 2 = 6	4 X 2 = 8	5 X 2 = 10	6 X 2 = 12	7 X 2 = 14	8 X 2 = 16	9 X 2 = 18
2 X 3 = 6	3 X 3 = 9	4 X 3 = 12	5 X 3 = 15	6 X 3 = 18	7 X 3 = 21	8 X 3 = 24	9 X 3 = 27
2 X 4 = 8	3 X 4 = 12	4 X 4 = 16	5 X 4 = 20	6 X 4 = 24	7 X 4 = 28	8 X 4 = 32	9 X 4 = 36
2 X 5 = 10	3 X 5 = 15	4 X 5 = 20	5 X 5 = 25	6 X 5 = 30	7 X 5 = 35	8 X 5 = 40	9 X 5 = 45
2 X 6 = 12	3 X 6 = 18	4 X 6 = 24	5 X 6 = 30	6 X 6 = 36	7 X 6 = 42	8 X 6 = 48	9 X 6 = 54
2 X 7 = 14	3 X 7 = 21	4 X 7 = 28	5 X 7 = 35	6 X 7 = 42	7 X 7 = 49	8 X 7 = 56	9 X 7 = 63
2 X 8 = 16	3 X 8 = 24	4 X 8 = 32	5 X 8 = 40	6 X 8 = 48	7 X 8 = 56	8 X 8 = 64	9 X 8 = 72
2 X 9 = 18	3 X 9 = 27	4 X 9 = 36	5 X 9 = 45	6 X 9 = 54	7 X 9 = 63	8 X 9 = 72	9 X 9 = 81

In [173]:
#컴프리헨션
#(7) 다음 리스트가 가진 값에 두배(* 2)를 가지는 새로운 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst = [10, 30, 70, 5, 120, 700, 1, 35]
result = [num * 2 for num in lst] # mapping
result

[20, 60, 140, 10, 240, 1400, 2, 70]

In [180]:
#(8) 다음 리스트가 가진 값에 10배의 값을 가지는 값을 (원래값, 10배값) 의 튜플묶음으로 가지는 리스트를 만드시오 (리스트 컴프리헨션 이용)
# Ex) [(10,100), (30,300), .., (35, 350)]
lst = [10, 30, 70, 5, 5, 120, 700, 1, 35, 35]
result = [(num,num*10) for num in lst]
result

[(10, 100),
 (30, 300),
 (70, 700),
 (5, 50),
 (5, 50),
 (120, 1200),
 (700, 7000),
 (1, 10),
 (35, 350),
 (35, 350)]

In [183]:
#(9) 다음 리스트가 가진 값들 중 3의 배수만 가지는 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst2 = [ 3, 20, 33, 21, 33, 8, 11, 10, 7, 17, 60, 120, 2]
result = [num for num in lst2 if num%3==0] #filtering
result

[3, 33, 21, 33, 60, 120]

In [186]:
#(10) 다음 파일이름들을 담은 리스트에서 확장자가 exe인 파일만 골라서 새로운 리스트에 담으시오.(string의 endswith()함수 이용)
file_name=["test.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]
result = [file for file in file_name if file.endswith("exe")]
result

['a.exe', 'function.exe', 'b.exe', 'run.exe']

In [192]:
#(11) 다음 중 10글자 이상인 파일명(확장자포함)만 가지는 리스트를 만드시오.
file_name=["mystroy.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]
result = [file for file in file_name if len(file)>=10]
result

['mystroy.txt', 'jupyter.bat', 'function.exe']

In [191]:
len("aaaaaaadfasdafa")>=10

True

In [193]:
# "파일명":글자수
result = {file:len(file) for file in file_name if len(file)>=10}
result

{'mystroy.txt': 11, 'jupyter.bat': 11, 'function.exe': 12}

In [226]:
import number_guess
number_guess.guess_num()

1번째 시도
1 ~ 100 사이 숫자를 입력하세요: 50
>>>더 작은 숫자를 입력하세요
--------------------------------------------
- 2번째 시도
1 ~ 100 사이 숫자를 입력하세요: 30
>>>더 작은 숫자를 입력하세요
--------------------------------------------
- 3번째 시도
1 ~ 100 사이 숫자를 입력하세요: 1
>>>더 큰숫자를 입력하세요
--------------------------------------------
- 4번째 시도
1 ~ 100 사이 숫자를 입력하세요: 40
>>>더 작은 숫자를 입력하세요
--------------------------------------------
- 5번째 시도
1 ~ 100 사이 숫자를 입력하세요: 35
>>>더 작은 숫자를 입력하세요
--------------------------------------------
- 6번째 시도
1 ~ 100 사이 숫자를 입력하세요: 20
>>>더 큰숫자를 입력하세요
--------------------------------------------
- 7번째 시도
1 ~ 100 사이 숫자를 입력하세요: 25
>>>더 작은 숫자를 입력하세요
--------------------------------------------
- 8번째 시도
1 ~ 100 사이 숫자를 입력하세요: 23
>>>더 큰숫자를 입력하세요
--------------------------------------------
- 9번째 시도
1 ~ 100 사이 숫자를 입력하세요: 24
##################################################
9번째 만에 성공했습니다.
##################################################

In [224]:
# 예측할 숫자를 생성.
import random
num = random.randint(1,100) # 1 ~ 100(포함) 사이의 정수를 실행시마다 랜덤하게 반환.
print(num)

2

In [ ]:
1. 예측할 숫자를 생성 (1 ~ 100)
2. 시도횟수를 저장할 변수 선언.
3. 사용자로부터 숫자 입력받는다.
4. 입력받은 숫자와 예측숫자를 비교한다.
    4-1 같으면 몇번째 성공했는지 출력하고 종료
    4-2 입력숫자가 더 큰경우 "작은숫자를 입력하세요" 출력하고 다시 입력받는다.
    4-3 입력숫자가 더 작은 경우 "더 큰숫자를 입력하세요" 출력하고 다시 입력받는다.
3-4 맞출때 까지 반복

In [237]:
# 최대 시도 횟수 5
import random
num = random.randint(1, 100)  # 1.
# print("예측할 숫자:", num)
try_count = 1 #2. 시도횟수 저장할 변수

max_try = 3 # 최대 시도 횟수

while True:
    print(f"{try_count}번째 시도")
    # 3. 
    guess_num = int(input("1 ~ 100 사이의 숫자를 입력하세요: "))
    #4.
    if num==guess_num: #4-1.
        print(f"{try_count}번째 성공. 정답: {guess_num}")
        break
    elif num < guess_num:
        print(f"{guess_num}보다 더 작은 숫자를 입력하세요.")
    elif num > guess_num:
        print(f"{guess_num}보다 더 큰 숫자를 입력하세요.")
    
    if max_try == try_count:
        print("="*50)
        print(f"실패했습니다. 최대시도횟수는 {max_try}번 입니다.")
        print("="*50)
        break
    
    try_count += 1
    print("="*50)

1번째 시도
1 ~ 100 사이의 숫자를 입력하세요: 1
1보다 더 큰 숫자를 입력하세요.
==================================================
2번째 시도
1 ~ 100 사이의 숫자를 입력하세요: 2
2보다 더 큰 숫자를 입력하세요.
==================================================
3번째 시도
1 ~ 100 사이의 숫자를 입력하세요: 3
3보다 더 큰 숫자를 입력하세요.
==========
실패했습니다. 최대시도횟수는 3입니다.
==========

In [238]:
print(10)

10