파일명 : 이름.ipynb       
이메일: kgmyh@naver.com

In [28]:
# 1. 10, 7, 5, 90, 100 을 가지는 1차원 배열을 생성.
import numpy as np
a = np.array([10, 7, 5, 90, 100])
a

array([ 10,   7,   5,  90, 100])

In [34]:
# 2. 100 ~ 200 범위의 숫자중 짝수를 가지는 배열을 생성.
a = np.arange(100,201)
idx = np.array(a % 2 == 0)
a[idx]

array([100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124,
       126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150,
       152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176,
       178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200])

In [30]:
# 3. 2번에서 생성한 배열과 동일한 shape에 0을 원소로 가지는 배열 생성.
a3 = np.zeros(a2.shape)
a3

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [40]:
# 4. 1001 ~ 10000 범위의 정수 중 100의 배수만 가지는 3차원 배열을 생성. (shape은 상관없음.)
a4 = np.arange(1001,10001)
idx = np.array(a4 % 100 == 0)
a4[idx].size # 90 = 10 * 3 * 3
a4[idx].reshape(10, 3, 3)

array([[[ 1100,  1200,  1300],
        [ 1400,  1500,  1600],
        [ 1700,  1800,  1900]],

       [[ 2000,  2100,  2200],
        [ 2300,  2400,  2500],
        [ 2600,  2700,  2800]],

       [[ 2900,  3000,  3100],
        [ 3200,  3300,  3400],
        [ 3500,  3600,  3700]],

       [[ 3800,  3900,  4000],
        [ 4100,  4200,  4300],
        [ 4400,  4500,  4600]],

       [[ 4700,  4800,  4900],
        [ 5000,  5100,  5200],
        [ 5300,  5400,  5500]],

       [[ 5600,  5700,  5800],
        [ 5900,  6000,  6100],
        [ 6200,  6300,  6400]],

       [[ 6500,  6600,  6700],
        [ 6800,  6900,  7000],
        [ 7100,  7200,  7300]],

       [[ 7400,  7500,  7600],
        [ 7700,  7800,  7900],
        [ 8000,  8100,  8200]],

       [[ 8300,  8400,  8500],
        [ 8600,  8700,  8800],
        [ 8900,  9000,  9100]],

       [[ 9200,  9300,  9400],
        [ 9500,  9600,  9700],
        [ 9800,  9900, 10000]]])

In [41]:
# 5. (4,4) 형태의 단위행렬(항등행렬)을 생성.
a5 = np.identity(4)
a5

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [44]:
# 6. 다음 값을 가지는 배열을 생성하고 배열의 차원수(rank)와 형태, 총 원소(element)의 개수를 조회.
# 20, 90, 80, 100, -20, 30
# 50, -10, 25, 120, -40, 90
a6 = np.array([[20, 90, 80, 100, -20, 30],[50, -10, 25, 120, -40, 90]])
print(a6.ndim) # rank : 2
print(a6.shape) # shape : (2,6)
print(a6.size) # size : 12

2
(2, 6)
12

In [49]:
# 7. 정규분포를 따르는 난수를 가지는 (3,2,7) 형태의 배열을 생성.
a7 = np.random.normal(size=(3,2,7))
a7

array([[[ 0.23503792, -0.01277404,  0.42155201,  2.14797972,
          0.04742543, -3.21209763,  0.8301976 ],
        [-0.42932921, -0.84835444,  0.99532704,  0.30752189,
         -1.98696794,  1.14622323, -1.34586892]],

       [[-1.60949504, -1.24098544,  1.71276984,  0.78278975,
         -0.64508298, -1.12983976,  0.41327578],
        [-0.94666016, -0.38079899, -0.01896072, -0.11264979,
          1.8394119 , -0.57249733, -0.30693643]],

       [[-1.03427261, -0.67143829, -0.04126095,  2.06425728,
          0.54486025, -0.08667467,  0.34745319],
        [ 0.32477583,  0.29586506,  0.98235572,  1.18831345,
          0.55131608, -0.83933885, -0.80205423]]])

In [61]:
# 8. 1 ~ 100 사이의 정수 난수를 가지는 (4, 5) 형태의 배열을 생성한 뒤 arr.npy 파일로 저장.
a8 = np.random.randint(1,101, size=(4,5))
np.save("arr.npy",a8)

In [62]:
# 9. 8번에서 저장한 arr.npy 의 배열을 불러와서 출력.
a8_1 = np.load('arr.npy')
a8_1

array([[86, 92,  9, 30, 34],
       [88, 68, 15, 83, 61],
       [92,  6, 87,  1, 35],
       [99, 97, 16, 52, 97]])

In [235]:
# 10. 9번에서 불러온 배열에서 전체 값의 총합, 0번축 기준의 총합, 1번축 기준의 총합을 구하기.
np.sum(a8_1) # 1148
np.sum(a8_1,axis=0) # array([365, 263, 127, 166, 227])
np.sum(a8_1,axis=1) # array([251, 315, 221, 361])

array([251, 315, 221, 361])

In [258]:
# 11. 임의의 Boolean 값을 가지는 (5, 10) 배열을 생성하고 True의 개수를 출력하시오.
a11 = np.random.randint(0,2,size=(5,10))
print(a11)
np.where(a11 == True ,True,False)
len(a11[a11==True])

[[0 0 0 0 1 0 1 0 1 1]
 [1 0 1 0 1 1 1 1 1 1]
 [1 1 1 0 1 0 0 0 1 1]
 [1 0 0 1 0 1 0 1 0 0]
 [0 1 1 0 0 1 0 0 0 1]]

26

In [281]:
# 12-17. 아래 배열을 생성하고 12번 ~ 17번 문제는 아래 조건으로 생성한 배열을 가지고 푸세요.
#  0 ~ 29 범위의 정수를 원소로 가지는 (5,6) 의 배열을 생성하고 변수에 저장.
a = np.arange(0,30).reshape(5,6)
a

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29]])

In [260]:
# 12. index (1,1), (2,3), (1,5)의 값들 조회
print(a[1,1]) # 7
print(a[2,3]) # 15
print(a[1,5]) # 11

7
15
11

In [264]:
# 13. index (1,1), (1,2), (1,3), (2,1), (2,2), (2,3), (3,1), (3,2), (3,3)의 값들을 조회.
a13 = a[1:4,1:4]
a13

array([[ 7,  8,  9],
       [13, 14, 15],
       [19, 20, 21]])

In [265]:
# 14. 13와 같은 index의 값들을 뒤집어서(reversing) 조회.
a13[::-1]

array([[19, 20, 21],
       [13, 14, 15],
       [ 7,  8,  9]])

In [268]:
# 15. 배열에서 15 이상의 원소만 조회해서 그 평균을 출력.
a15 = np.average(a[a>15])
a15

22.5

In [269]:
# 16. 배열에서 15이상의 원소들의 index를 조회. (0축 index, 1축 index) 형식으로 출력. 
#     ex: (0,0), (0,1) 식으로 출력
a15 = a[a>15]
a15

array([16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29])

In [271]:
# 17. 배열을 axis 1을 기준으로 내림차순으로 정렬. 
# 결과
[[ 5,  4,  3,  2,  1,  0],
 [11, 10,  9,  8,  7,  6],
 [17, 16, 15, 14, 13, 12],
 [23, 22, 21, 20, 19, 18],
 [29, 28, 27, 26, 25, 24]]

[[5, 4, 3, 2, 1, 0],
 [11, 10, 9, 8, 7, 6],
 [17, 16, 15, 14, 13, 12],
 [23, 22, 21, 20, 19, 18],
 [29, 28, 27, 26, 25, 24]]

In [290]:
np.sort(a, axis = 1)[::-1]

array([[24, 25, 26, 27, 28, 29],
       [18, 19, 20, 21, 22, 23],
       [12, 13, 14, 15, 16, 17],
       [ 6,  7,  8,  9, 10, 11],
       [ 0,  1,  2,  3,  4,  5]])

In [184]:
# 18-21. 아래 배열을 생성하고 18번 ~ 21번 문제는 아래 조건으로 생성한 배열을 가지고 푸세요.
# (3, 2) shape의 배열을 생성 하시오. 
a = np.arange(6).reshape(3,2)
a

array([[0, 1],
       [2, 3],
       [4, 5]])

In [185]:
# 18. 배열의 shape을 (1, 3, 2) 로 변환한 배열을 생성.
a18 = a.reshape(1,3,2)
a18

array([[[0, 1],
        [2, 3],
        [4, 5]]])

In [186]:
# 19. 배열의 shape을 (1, 3, 2, 1) 로 변환한 배열을 생성.
a19 = a.reshape(1,3,2,1)
a19

array([[[[0],
         [1]],

        [[2],
         [3]],

        [[4],
         [5]]]])

In [190]:
# 20. 배열을 1차원 배열로 변환한 배열을 생성.
a20 = a.reshape(6,)
a20

array([[0, 1],
       [2, 3],
       [4, 5]])

In [197]:
# 21. 배열의 0번 축에 2개의 값을 추가. (추가된 배열의 shape: (5,2))
a21 = np.append(a,[[6,7],[8,9]], axis = 0)
a21

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [199]:
# 22-28. 다음 배열은 5명 학생의 국어, 영어, 수학, 과학 시험 점수이다. 행(axis=0)은 각 학생의 시험점수이고 컬럼(axis=1)은 과목을 가리킨다.
a = np.array([
 [ 60,  80,  60, 100],
 [ 80,  80,  90,  90],
 [ 90,  60,  70,  50],
 [ 40,  80,  60,  50],
 [ 60,  50,  70, 100]
])
a

array([[ 60,  80,  60, 100],
       [ 80,  80,  90,  90],
       [ 90,  60,  70,  50],
       [ 40,  80,  60,  50],
       [ 60,  50,  70, 100]])

In [291]:
# 22. 각 과목별 평균점수를 조회.

In [202]:
# 23. 각 과목별 평균 점수를 성적 배열에 추가.

In [ ]:
# 24. 각 학생들의 평균 점수 조회

In [ ]:
# 25. 과목별로 몇번째 학생의 성적이 가장 높은지 조회

In [ ]:
# 26. 학생별로 어떤 과목의 점수가 가장 낮은지 조회.

In [ ]:
# 26. 학생별로 어떤 과목의 점수가 가장 낮은지 조회.

In [ ]:
# 27. 각 과목별로 편차가 가장 적은 과목과 가장 큰 과목을 조회

In [ ]:
# 28. 학생들 중 과목간의 점수의 편차가 가장 적은 학생을 조회

In [203]:
# 29-30 다음 두 배열을 가지고 29,30번 문제를 푸세요.
A = np.array([
  [1,2,3],
  [4,5,6],
  [7,8,9]
])

B = np.array([
  [10,20,30],
  [40,50,60],
  [70,80,90]
])

In [163]:
# 29. 두 배열을 수직방향으로 합치기. 
AB = np.vstack([A,B])
AB

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 20, 30],
       [40, 50, 60],
       [70, 80, 90]])

In [211]:
# 30. 29에서 합친 배열을 수평방향으로 index 2를 기준으로 나누기.
a30 = np.hsplit(AB,[2])
a30

[array([[ 1,  2],
        [ 4,  5],
        [ 7,  8],
        [10, 20],
        [40, 50],
        [70, 80]]),
 array([[ 3],
        [ 6],
        [ 9],
        [30],
        [60],
        [90]])]

In [143]:
# 31-32 다움은 7명의 학생의 점수이다. 배열을 생성한뒤 33번 ~ 35번 문제를 푸세요.
a = np.array([10, 50, 75, 20, 70, 50, 80])

In [154]:
# 31. 다음 배열에서 평균 이상의 점수를 받은 학생이 몇명인지 조회
m = np.mean(a) # 50.71 
# len(a[a>m])
np.sum(a>m) # 3

3

In [155]:
#32. 다음 배열에서 평균 이상의 점수를 받은 학생이 전체 학생 중 몇명인지 비율을 조회.
np.mean(a>m) # 0.42857142857142855

0.42857142857142855

In [226]:
# 33-35 다음 배열은 스무명의 사람들의 연봉의 표본이다. (단위 만원) 배열을 생성한뒤 33번 ~ 35번 문제를 푸세요.
a = np.array([7650, 4210, 7260, 8020, 8200, 8740, 4960, 1420,
 5410, 9770, 2370, 7960, 8960, 2660, 7940, 5120,
 7100, 5220, 8810, 253000])

In [227]:
# 33. 위 배열에서 상위 75% 는 얼마 이상을 받는지 조회.
np.quantile(a, q=0.75,interpolation='higher') # 8740

8740

In [228]:
# 34. 위 배열에서 하위 25%는 얼마 이하를 받는지 조회.
np.quantile(a, q=0.25,interpolation='lower') #4960

4960

In [229]:
# 35. 위 배열의 평균과 중앙값을 구하고 배열의 대푯값으로 어떤 것을 사용하는 것이 맞는지 적으세요.
print(np.average(a)) # 18739.0
print(np.median(a)) # 7455.0

18739.0
7455.0