In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

# 데이터 불러오기
- 2019년 주유소들의 일자별 가격 데이터

In [8]:
# 상반기, 하반기 주유소 가격 데이터 조회
first = pd.read_csv('data/2019년 상반기 주유소 판매가격.csv', encoding = 'utf-8')
second = pd.read_csv('data/2019년 하반기 주유소 판매가격.csv', encoding = 'utf-8')

first.shape, second.shape
first.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90590 entries, 0 to 90589
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      90590 non-null  object
 1   지역      90590 non-null  object
 2   상호      90590 non-null  object
 3   주소      90590 non-null  object
 4   기간      90590 non-null  int64
 5   상표      90590 non-null  object
 6   셀프여부    90590 non-null  object
 7   고급휘발유   90590 non-null  int64
 8   휘발유     90590 non-null  int64
 9   경유      90590 non-null  int64
 10  실내등유    90590 non-null  int64
dtypes: int64(5), object(6)
memory usage: 7.6+ MB

In [15]:
# 상반기, 하반기 DataFrame  합치기
'''합치기
방법1)concat
방법2)join
방법3)merge
'''
df = pd.concat([first, second], axis = 0, ignore_index = True )
df.shape

(181714, 11)

In [19]:
# DataFrame 기본 정보 조회
df.shape
df.info()
df.head()
df.tail()
df.describe()
df.describe(include ='object') # 문자열 컬럼의 요약 통계

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181714 entries, 0 to 181713
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   번호      181714 non-null  object
 1   지역      181714 non-null  object
 2   상호      181714 non-null  object
 3   주소      181714 non-null  object
 4   기간      181714 non-null  int64
 5   상표      181714 non-null  object
 6   셀프여부    181714 non-null  object
 7   고급휘발유   181714 non-null  int64
 8   휘발유     181714 non-null  int64
 9   경유      181714 non-null  int64
 10  실내등유    181714 non-null  int64
dtypes: int64(5), object(6)
memory usage: 15.3+ MB

              번호      지역      상호                    주소      상표    셀프여부
count     181714  181714  181714                181714  181714  181714
unique       512      25     507                   512       8       2
top     A0000035  서울 강남구   신성주유소  서울 도봉구  도봉로 434 (창동)   SK에너지      일반
freq         365   14597    1095                   365   71062  108492

- 인덱스가 A, B 두 0 - 9만얼마, 0-9만얼마 로 연속하게 되지 않았기 때문에 콘켓할때 ignore_index를 하게되면 인덱스가 0번부만 18만 으로 붙게된다. 
- 결측치는 없다. 
- 데이터타입은 잘 맞는지 확인하기 
- 기간컬럼의타입이 int로 되어있는데 int가 편할지 등등 
- describe확인하면 고급휘발유인데 값들이 낮다? 0인 부분들이 있다. 이럴때 출처에서 왜 0인지 확인을 해야한다. 수집을못해서 0으로 한거면 결측치이며 잘못된 정보를 기입한거면 이상치. 
-

In [20]:
# 상표 컬럼의 고유값 조회
df['상표'].unique()
df['상표'].value_counts()

SK에너지     71062
GS칼텍스     49494
현대오일뱅크    28583
S-OIL     27027
알뜰주유소      4021
자가상표        982
알뜰(ex)      365
NH-OIL      180
Name: 상표, dtype: int64

In [21]:
# 지역 컬럼의 고유값 조회
df['지역'].value_counts()

서울 강남구     14597
서울 서초구     13762
서울 강서구     12572
서울 영등포구    11667
서울 송파구     11630
서울 양천구      9149
서울 성북구      8080
서울 동대문구     7996
서울 구로구      7917
서울 도봉구      6711
서울 광진구      6450
서울 은평구      6199
서울 성동구      6192
서울 관악구      5997
서울 강동구      5897
서울 중랑구      5719
서울 서대문구     5594
서울 노원구      5466
서울 용산구      5439
서울 금천구      4738
서울 강북구      4736
서울 중구       4235
서울 마포구      4051
서울 동작구      3644
서울 종로구      3276
Name: 지역, dtype: int64

In [22]:
df['셀프여부'].value_counts()

일반    108492
셀프     73222
Name: 셀프여부, dtype: int64

> ### str accessor
> - `Series.str.String메소드()`
> - 문자열 타입 Series에 String 메소드들을 사용하여 일괄처리 할 수 있도록 한다.
> - str accessor 메소드 : https://pandas.pydata.org/pandas-docs/stable/reference/series.html#api-series-str

> ### datetime으로 변환
> - `pd.to_datetime(변환할 Series)`
> - x 또는 y 축이 날짜 일 경우 datetime 타입으로 처리하는 것이 좋다.
> - datetime을 변환하면 날짜만의 기능을 다룰 수 있다.
>     - dt accessor를 이용해 datetime의 속성값들을(년, 월, 일 등) 추출할 수 있다.
>     - https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html

In [ ]:
# 지역 컬럼의 값을 이용하여 "구" 컬럼 생성 (지역에서 구만 추출)

In [ ]:
# 기간 컬럼을 datetime 타입으로 변경

In [ ]:
# 기간 컬럼을 이용해 "월", "일", "요일" 컬럼 생성

In [ ]:
# 휘발유 가격이 가장 비싼 5개 행 조회

In [ ]:
# 휘발유 가격이 가장 저렴한 5개 행 조회 (단 0원인 주유소 제외)

In [ ]:
# 고급휘발유 가격이 가장 비싼 5개 행 조회

In [ ]:
# 고급휘발유 가격이 가장 저렴한 5개 행 조회 (단 0원인 주유소 제외)

In [ ]:
# 경유 가격이 가장 비싼 5개 행 조회

In [ ]:
# 경유 가격이 가장 저렴한 5개 행 조회 (단 0원인 주유소 제외)

In [ ]:
# 상표별 휘발유 평균가격 조회

In [ ]:
# 상표별 휘발유 평균가격 시각화

In [ ]:
# 셀프주유소와 일반주유소 개수 확인

In [ ]:
# 셀프주유소와 일반주유소 개수 시각화

In [ ]:
# 셀프 여부에 따른 휘발유 평균 가격 비교

In [ ]:
# 상표별 일반/셀프 주유소의 휘발유 가격 평균 비교

In [ ]:
# 상표별 일반/셀프 주유소의 휘발유 가격 평균 비교 시각화

In [ ]:
# 상표별 일반/셀프 주유소의 휘발유 가격에 대한 분포 확인 - boxplot으로 시각화

In [ ]:
# 상표별 휘발유 가격의 분포를 boxplot으로 시각화

In [ ]:
# 상표별 휘발유 가격의 분포를 셀프여부로 나눠 boxplot으로 시각화

In [ ]:
# 구별 휘발유 가격의 평균

In [ ]:
# 구별 휘발유 가격의 평균 시각화

In [ ]:
# 중구(평균이 가장높음)의 상표별 휘발유 평균가격

In [ ]:
# 월 평균 휘발유 가격의 평균

In [ ]:
# 월별 휘발유 가격 변화 추세 시각화

In [ ]:
# 각 구의 월별 평균 휘발유 가격

In [ ]:
# 각 구의 월별 평균가격의 변화추이 시각화

In [ ]:
# 가장 휘발유가격이 비싼 주유소 상위 5

In [ ]:
# 가장 휘발유가격이 저렴한 주유소 상위 5

In [ ]:
# 휘발유 비싼 주유소의 상위 5개의 상호, 지역, 주소 조회(중복제거-drop_duplicates())

In [ ]:
# 휘발유 저렴한 주유소의 상위 5개의 상호, 지역, 주소 조회(중복제거)