## for in 내장함수 
- range()
- enumerate()
- zip()

### range() 함수 
- 연속된 정수들을 만들때 사용 
- range([시작값],멈춤값,[증감값])
- 시작값은 포함하고 멈춤값은 포함하지 않는다. 
- 증감값 만큼 증감한 연속된 정수들을 만든다 
- 시작 값 생략 시 0이 기본값
- 증감 값 생량 시 1이 기본값
- 멈춤값은 생략할 수 없다

In [2]:
# range(1,10,2) #1부터 10까지 2씩 증가 : 1, 3, 5, 7, 9, 
for i in range(1,10,2) : 
    print(i,end =" ")
    #break

1 3 5 7 9

In [3]:
# list(), tuple(), set() literable 타입의 객체를 list, tuple, set으로 변환

In [6]:
lst = list(range(1,11)) #1~11 1씩 증가 = 증감치 생략 
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
tu = tuple(range(10)) #range(30) : 종료정수 
tu

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [9]:
s = set(range(5))
s

{0, 1, 2, 3, 4}

In [10]:
list(range(10,-10,-5))

[10, 5, 0, -5]

In [11]:
#안녕 10번 반복 사용
#i는 실제로 사용하지 않으니 변수를 _언더바를 많이 써서 사용 
#변수를 _: 반복문내에서 사용하지 않겠다. 
for _ in range(10) : #관례적으로 _언더바를 많이 써서 씀  
    print("안녕")

안녕
안녕
안녕
안녕
안녕
안녕
안녕
안녕
안녕
안녕

### enumerate()함수 
- 반복조회시 현재 "현재반복횟수"와 "원소"를 튜플로 묶어서 반환
- 전달인자 
    - start : 시작할 인데스 값을 지정한다. 기본값 : 0 
    - enumerate(str,start=1) : 1부터 시작한다.

In [13]:
strs_list = ['a','b','c','d']
for s in strs_list : 
    print(s)

a
b
c
d

In [16]:
for s in enumerate(strs_list) : 
    print(s)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')

In [18]:
for idx, s in enumerate(strs_list) :
    print(idx, s)

0 a
1 b
2 c
3 d

In [20]:
for idx, s in enumerate(strs_list) : 
    if idx == 3 :
        print(idx,s)

3 d

In [21]:
#0부터 시작하니 시작번호를 정할 수 있다. 
for idx, s in enumerate(strs_list,start=1) :
    print(idx,s)

1 a
2 b
3 c
4 d

### zip(iterable, literable[,...])

In [25]:
a = [1, 2, 3]
b = [10, 20 , 30]
c = 100, 200, 300, 400, 500
d = {'a','b','c'}

for v in d :
    print(v)

a
b
c

In [24]:
#같은 인덱스순서대로 묶여진다 
#갯수는 작은거 갯수에 맞춰진다. 
for v in zip(a, b, c, d) : 
    print(v)

(1, 10, 100, 'a')
(2, 20, 200, 'b')
(3, 30, 300, 'c')

In [28]:
#언제쓰냐? 3사람의 이름만 있는 , 나이만, 키만 있는 정보들을 각각 한 사람의 정보를묶어서 보고 싶을때 
names = ['peter','james','mike']
ages = [20, 30, 40]
talls = [180,170,180]

for info in zip(names, ages, talls) : 
    print(info)

('peter', 20, 180)
('james', 30, 170)
('mike', 40, 180)

In [29]:
for name, age, tall in zip(names, ages, talls) : 
    print(info)

('mike', 40, 180)
('mike', 40, 180)
('mike', 40, 180)

# 컴프리헨션 (comprehension)
- 기존 자료구조가 가지 원소들을 이용해 "새로운 자료구조"를 만드는 구문
- 주고 기존자료구조의 원소들을 처리한 결과를 새로운 자료구조에 넣을때 사용한다
    - 리스트 컴프리헨션
    - 딕셔너리 컴프리헨션
    - 집합 컴프리헨션
    - 튜플 컴프리헨션은 없다 
    - 딕셔너리/ 집합 컴프리 헨션은 파이썬3부터 지원

In [35]:
lst = [1, 2, 3, 4, 5]
#lst원소들에 10을 더한 새로운 원소로 가지는 리스트를 생성 
lst2 = []
for num in lst : 
    lst2.append(num+10)
    
lst2

[11, 12, 13, 14, 15]

In [36]:
#컴프리헨션 사용해보기 
#for밖으로 빼는거 ? 리스트에 넣어줬다. 반복을 한 값을 리스트에 넣어줬다. 
result = [num for num in lst] 
result

[1, 2, 3, 4, 5]

In [37]:
#이때 리스트에 넣어줄때 +10해서 리스트에 넣어주자
result = [num+10 for num in lst] #리스트 컴프리헨션
result

[11, 12, 13, 14, 15]

In [38]:
result = {num+10 for num in lst} #셋 컴프리헨션
result

{11, 12, 13, 14, 15}

In [39]:
type(result)

set

In [40]:
result2 = {num : 'a' for num in lst} #{key:value} dictionary comprehension
#밸류값은 'a'로 고정
result2

{1: 'a', 2: 'a', 3: 'a', 4: 'a', 5: 'a'}

In [42]:
lst2

[11, 12, 13, 14, 15]

In [52]:
# enumerate 튜플로 묶어서 원소를 반환 
dic = {}
for idx, num in enumerate(lst2) : 
    dic[idx] = num

dic

{0: 11, 1: 12, 2: 13, 3: 14, 4: 15}

In [53]:
#키과 값을 딕셔너리 컴프리헨션 많이 사용함 
result = {idx:num for idx,num in enumerate(lst2)}
result

{0: 11, 1: 12, 2: 13, 3: 14, 4: 15}

In [54]:
num_list = list(range(100))
num_list

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [56]:
#num_list원소들중에 10의 배수만 가지를 리스트 생성
result = []
for num in num_list : 
    if num % 10 == 0 :
        result.append(num)
        print(num,end=" ")
        
result

0 10 20 30 40 50 60 70 80 90

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

- [변수 for 변수 in literable [for in 또는 if문]]
- IF문에서 true만 num으로 빼줘서 []에 넣어준다.

In [63]:
#esult2 = [num for num in num_list]
#조건을 어떻게 넣을까??? 뒤에다 넣는다. 
result2= []
result2 = [num for num in num_list if num %10 == 0]
result2

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

# ToDo

In [67]:
#(1) 다음 점수 구간에 맞게 학점을 출력하세요.
# 91 ~ 100 : A학점
# 81 ~ 90 :  B학점
# 71 ~ 80 :  C학점
# 61 ~ 70 :  D학점
# 60이하   :  F학점

jumsu = int(input("점수입력 : "))

if jumsu > 90 :
    print("A학점")
elif jumsu > 80 :
    print("B학점")
elif jumsu > 70 :
    print("C학점")
elif jumsu > 60 :
    print("D학점")
else:
    print("F학점")

점수입력 : 0100
A학점

In [98]:
#(2) 아래 리스트의 평균을 구하시오.
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
size = len(jumsu)
sum = 0

for num in jumsu :
    sum += num

avg = sum / size
avg

89.0

In [ ]:
# sum(iterable) :  합계구하는 내장함수 
# sum(jumsu)/len(jumsu)

In [120]:
#(3) 위 jumsu리스트에서 평균점수이상은 pass, 미만은 fail을 index번호와 함께 출력하시오. (ex: 0-pass, 1-pass, 2-fail)

for index, value in enumerate(jumsu):
    if avg >= value : 
#         print(str(index)+'-'+'pass')
        print(f"{index}-pass")
    else : 
        print(f"{index}-fail")
#         print(str(index)+'-'+'fail')

0-pass
1-fail
2-pass
3-pass
4-pass
5-pass
6-pass
7-fail
8-fail
9-pass

In [110]:
#(4) 아래 리스트 값들 중 최대값을 조회해 출력
jumsu = [60, 90, 80, 80, 70, 55, 80, 90, 95, 85]

max = 0

for num in jumsu :
    if max < num :
        max = num 

print(max)

95

In [102]:
#(5) 다음 리스트 중에서 '정' 글자를 제외하고 출력하세요.
str_list = ["갑", "을", "병", "정"]

#컨티뉴를 사용해서 익숙해지기 
for i in str_list : 
    if i == '정' : 
        continue
    else : 
        print(i)

갑
을
병

In [140]:
for i in str_list : 
    if i != '정' :
        print(i)

갑
을
병

In [144]:
#(6) 사용자로부터 정수를 입력받아 그 단의 구구단을 출력하시오.
# ex) 단을 입력하시오 : 2
# 2 x 1 = 2
# 2 x 2 = 4
#..
# 2 x 9 = 18
#컴프리헨션

dan = int(input("단을 입력하시오 : "))

for i in range(9) : 
#     print(dan,'x',i,'=',dan*i)
#     print(f"{dan} x {i} = {dan*i}")
#     print("%d x %d = %d" %(dan,i,dan*i))
    print("{} x {} = {}".format(dan,i,dan*i))

단을 입력하시오 : 2
2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16

In [149]:
# 구구단표 
for num in range(1,10) : #숫자 * num 
    for dan in range(2,10) :
        print("{} x {} = {}".format(dan,num,dan*num),end="\t")
    print()

2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

In [112]:
#(7) 다음 리스트가 가진 값에 두배(* 2)를 가지는 새로운 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst = [10, 30, 70, 5, 120, 700, 1, 35]

result = [num*2 for num in lst]
result

[20, 60, 140, 10, 240, 1400, 2, 70]

In [150]:
# 이문제 잘 안됨 ㅜㅜ 
#(8) 다음 리스트가 가진 값에 10배의 값을 가지는 값을 (원래값, 10배값) 의 튜플묶음으로 가지는 리스트를 만드시오 (리스트 컴프리헨션 이용)
# Ex) [(10,100), (30,300), .., (35, 350)]
lst = [10, 30, 70, 5, 5, 120, 700, 1, 35, 35]

result = [(num, num*10) for num in lst]
result 

#우린 zip을 활용한것도 좋은방법인거 같아 다양하게 활용해서

[(10, 100),
 (30, 300),
 (70, 700),
 (5, 50),
 (5, 50),
 (120, 1200),
 (700, 7000),
 (1, 10),
 (35, 350),
 (35, 350)]

In [125]:
#(9) 다음 리스트가 가진 값들 중 3의 배수만 가지는 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst2 = [ 3, 20, 33, 21, 33, 8, 11, 10, 7, 17, 60, 120, 2]

result = [num for num in lst2 if num %3 == 0] #filtering 
result

[3, 33, 21, 33, 60, 120]

In [151]:
"abc.exe".endswith("exe")

True

In [133]:
#(10) 다음 파일이름들을 담은 리스트에서 확장자가 exe인 파일만 골라서 새로운 리스트에 담으시오.(string의 endswith()함수 이용)
file_name=["test.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]

file_name[0].endswith("exe")

result = [name for name in file_name if name.endswith("exe")]
print(result)

['a.exe', 'function.exe', 'b.exe', 'run.exe']

In [134]:
#(11) 다음 중 10글자 이상인 파일명(확장자포함)만 가지는 리스트를 만드시오.
file_name=["mystroy.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]

result = [name for name in file_name if len(name) >= 10]
result

['mystroy.txt', 'jupyter.bat', 'function.exe']

In [153]:
# 파일명 : 글자 수 딕셔너리로 만들기 
result = {file :len(file) for file in file_name if len(file) >= 10}
result

{'mystroy.txt': 11, 'jupyter.bat': 11, 'function.exe': 12}

In [174]:
#예측하는 숫자 맞추기 ? 언제까지? 맞출때 까지 

import number_guess
number_guess.guess_num()

ModuleNotFoundError: No module named 'number_guess'

In [175]:
# 예측할 숫자를 생성할 때 
import random
num = random.randint(1,100) #1 ~ 100(포함) 사이의 정수를 실행마다 랜덤하게 반환
print(num)

42

In [ ]:
# 1. 예측할 숫자를 생성 
# 2. 사용자로부터 숫자를 입력받는다. 
# 3. 입력받은 숫자와 예측숫자를 비교한다. 

import random 
num = random.randint(1,100)
try_count = 1 #시도 횟수 저장할 변수 
max_count = 5 #최대 시도 횟수 지정 

#print(num)
i = 0 #초기화 None 

while i != num : 
    i = int(input(f"{try_count}번째 입력 : "))
    try_count += 1
    if i > num :
        print("결과 : 입력한 값이 큽니다.")
    elif i < num : 
        print("결과 : 입력한 값이 작습니다.")
    else :
        break
    
    if max_count == try_count :
        print("실패해Ttmqslek. 최대시도 횟수는 {max_try}번 입니다.")

print(f"랜덤숫자{num}와 입력값{i}은 일치합니다.")

1번째 입력 : 50
결과 : 입력한 값이 큽니다.
2번째 입력 : 25
결과 : 입력한 값이 작습니다.
3번째 입력 : 30
결과 : 입력한 값이 작습니다.
4번째 입력 : 40
결과 : 입력한 값이 큽니다.
실패해Ttmqslek. 최대시도 횟수는 {max_try}번 입니다.